@import'MyCustomVariables';
:root{
    scroll-behavior:smooth;
}
body{
    color:rgba(var(--color-primary-rgb),1);
}
a {
    color: rgb(230,230,230);
    text-decoration: none;

    &:hover {
        color:var(--color-links-hover);
        text-decoration: none;
    }

}

h1,h2,h3,h4,h5,h6{
    font-family:var(---font-primary);
}

#main{
    margin-top:90px;
}
/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
    padding: 40px 0;
    overflow: hidden;
}

.section-header {
    border-bottom: 2px solid var(--color-black);
}

.section-header h2 {
    font-size: 50px;
    color: var(--color-black);
}

.section-header p {
    margin-bottom: 0;
}
/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.scroll-top:hover {
    background: rgba(var(--color-primary-rgb), 0.8);
    color: #fff;
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
}
/*--------------------------------------------------------------
# Page title
--------------------------------------------------------------*/
.page-title {
    font-size: 70px;
    color: var(--color-black);
}

/* Form Input Fieldds */
.form-control:active,
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--color-black);
}

.btn:active,
.btn:focus {
    outline: none;
}

.btn.btn-primary {
    background-color: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-black);
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
// Header styles
.header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: #2d6760;

    &.sticked {
        hetght: 70px;
    }

    .logo {
        .h1 {
            font-size: 30px;
            font-weight: 700;
            color: rgb(230,230,230);
            font-family: var(--font-primary);
        }
    }

    .search-form-wrap {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;
        transition: 0.3s all ease;
        visibility: hidden;
        opacity: 0;



        .search-form {
            position: relative;

            .form-control {
                width: 300px;
                border: none;
                box-shadow: 0 15px 20px -10px rgba(var(--color-black-rgb), 0.1);
                padding-left: 40px;
                padding-right: 40px;

                &:active, &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .icon {
                position: absolute;
                left: 0;
                top: 7px;
                opacity: 0.5;
                left: 10px;
            }

            .btn {
                position: absolute;
                top: 2px;
                right: 4px;
                padding: 0;
                margin: 0;
                line-height: 1;
                font-size: 30px;

                &:active, &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
}

// Section styles
section {
    scroll-margin-top: 70px;
}

