body {
}
:root{scroll-behavior:smooth;}

a{
    color:red;
  /*能否取用全域變數?可以，所以不需要在上面引用*/
  color:var(--color-links);
  text-decoration:none;
  &:hover{
      color:var(--color-links);
      text-decoration:none;
  }
}

h1,h2,h3,h4,h5,h6{
    font-family:var(--font-primary);
}

#main{
    margin-top:90px;
}

/*Header*/
.header{
    height:90px;
    transition:all 0.5s;
    z-index:997;
    background:#f2f2f2;
    &.sticked{
        //當滑鼠滾動超過100px，加上
        height:70px;
    }
}