.Shopping {
    height: 50px;
    background-color: #2D6760;
}
.ShoppingNav{
background-color: #2D6760;
margin:auto
}
.ShoppingNavList {
    background-color: #2D6760;
    margin-left:273px
}
.navbar li {
    list-style-position: inside;
}
body li{
    padding-left:0px;
}
.Shul{
    padding-left:0px;
}