@model Comment
@{
    ViewData["Title"] = "ad";

    string s = "";

    if (Model.MemberId == null)
    {
        s = Model.Employee.EmployeeName;
    }
    else
    {
        s = Model.Member.MemberName;
    }
}


<div class="comment d-flex mb-4  container" style="margin-top:300px">
    <div class="flex-shrink-0 ">
        <div class="avatar avatar-sm rounded-circle">
            <img class="avatar-img" src="~/img/shopping-cart.png" alt="">
        </div>
    </div>
    <div class="flex-grow-1 ms-2 ms-sm-3">
        <div class="comment-meta d-flex align-items-baseline">
            <h6 class="me-2"></h6>
            <span class="text-muted">@s</span>
        </div>
        <div class="comment-body">
            @Model.Content
        </div>

        <div class="comment-replies bg-light p-3 mt-3 rounded" id="here">
            <h6 class="comment-replies-title mb-4 text-muted text-uppercase">2 replies</h6>

            <div class="reply d-flex mb-4">
                <div class="flex-shrink-0">
                    <div class="avatar avatar-sm rounded-circle">
                        <img class="avatar-img" src="assets/img/person-4.jpg" alt="">
                    </div>
                </div>
                <div class="flex-grow-1 ms-2 ms-sm-3">
                    <div class="reply-meta d-flex align-items-baseline">
                        <h6 class="mb-0 me-2">Brandon Smith</h6>
                        <span class="text-muted">2d</span>
                    </div>
                    <div class="reply-body">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </div>
                </div>
            </div>
            <div class="reply d-flex">
                <div class="flex-shrink-0">
                    <div class="avatar avatar-sm rounded-circle">
                        <img class="avatar-img" src="assets/img/person-3.jpg" alt="">
                    </div>
                </div>
                <div class="flex-grow-1 ms-2 ms-sm-3">
                    <div class="reply-meta d-flex align-items-baseline">
                        <h6 class="mb-0 me-2">James Parsons</h6>
                        <span class="text-muted">1d</span>
                    </div>
                    <div class="reply-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore sed eos sapiente, praesentium.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- 留言區段 -->

@section Scripts{
       <script>
        
           let id = @Model.CommentId;
        document.addEventListener('DOMContentLoaded', () => {
            console.log("GG");
            load();
        });
           var html = "";
        async function load() {

                let url = `https://localhost:7078/api/Comments/comment?id=${id}`
                const response = await fetch(url);
                const data = await response.json();
            console.log(data);
            let ad = "";
            const value = data.map(rp => {
                const content = rp.content
                let ad = "";
                if (rp.employee == null) {
                    ad = rp.member.memberName;
                } else {
                    ad = rp.employee.employeeName;
                }
                console.log(ad);
                var s = 
                `
                            <div class="reply d-flex mb-4">
                        <div class="flex-shrink-0">
                            <div class="avatar avatar-sm rounded-circle">
                                        <img class="avatar-img" src="/img/shopping-cart.png" alt="">
                            </div>
                        </div>
                        <div class="flex-grow-1 ms-2 ms-sm-3">
                            <div class="reply-meta d-flex align-items-baseline">
                                <h6 class="mb-0 me-2">${ad}</h6>
                                <span class="text-muted">2d</span>
                            </div>
                            <div class="reply-body">
                                        ${content};
                            </div>
                        </div>
                    </div>
                `

                return s;
            })
            console.log(value.join(""));
            document.querySelector("#here").innerHTML= value.join("");

        }
       </script>
}