
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_New_blogs.cshtml";
}
<section>
    <div class="container" style=" background-color:oldlace; overflow:auto;">
        <div class="row" style="background-color:aqua;">
            <div class="col-lg-4 " style="background-color:red;">
                <div class="card" style="">
                    <a href="#"><img src="~/assets/img/post-landscape-1.jpg" class="card-img-top" alt="..."></a>
                    <div class="post-meta">
                        <span class="category">活動快訊</span>
                        <span class="mx-1">&bull;</span>
                        <span class="date">2023/10/25</span>
                    </div>
                    <div class="card-body">
                        <h1><a href="#">文章一標題</a></h1>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex align-item-center author">
                            <div class="authorPhoto">
                                <img class="img-fluid"
                                     src="~/assets/img/person-1.jpg"
                                     alt="" />
                            </div>
                            <div class="authorName d-flex align-items-center">
                                <h3 class="m-0 p-0">Cameron Williamson</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" style="background-color:blue;">
                <div class="row" style="height:100%; background-color:pink;">
                    <div class="col-lg-4" style="height:100%; background-color:violet;">
                        <div class="card" style="width: 100%">
                            <a><img src="~/assets/img/post-landscape-2.jpg" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="card" style="width: 100%">
                            <a><img src="~/assets/img/post-landscape-3.jpg" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="card" style="width: 100%">
                            <a><img src="~/assets/img/post-landscape-4.jpg" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="width: 100%">
                            <a><img src="~/assets/img/post-landscape-5.jpg" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="card" style="width: 100%">
                            <a><img src="~/assets/img/post-landscape-6.jpg" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="card" style="width: 100%">
                            <a><img src="~/assets/img/post-landscape-7.jpg" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="card" style="width: 100%">
                            <a><img src="~/assets/img/post-landscape-7.jpg" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="background-color:antiquewhite"></div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="categorySection">
    <div class="container" style="height:930px; border:1px solid black " > 
        <div class="section-header d-flex justify-content-between align-item-center mb-5">
            <h2>活動快訊</h2>
            <div><a href="#" class="more">查看所有活動</a></div>
        </div>
        <div class="row" style="height:80%">
            <div class="col-md-9" style="background-color:green;">

            </div>
            <div class="col-md-3" style="background-color:burlywood"></div>
        </div>
    </div>
</section>




