
@{
    ViewData["Title"] = "about";
}

<main id="main">
    <section>
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 text-center mb-5">
                    <h1 class="page-title">About us</h1>
                </div>
            </div>

            <div class="row mb-5">

                <div class="d-md-flex post-entry-2 half">
                    <a href="#" class="me-4 thumbnail">
                        <img src="assets/img/post-landscape-2.jpg" alt="" class="img-fluid">
                    </a>
                    <div class="ps-md-5 mt-4 mt-md-0">
                        <div class="post-meta mt-4">About us</div>
                        <h2 class="mb-4 display-4">GO健康成立的緣由：</h2>

                        <p>GO健康的成立源於對社會健康的關切以及對人們更好生活的渴望。當今社會節奏快速，人們的生活壓力逐漸增大，健康成為越來越受重視的話題。GO健康的創辦人們深信，透過科技和創新的手段，可以為人們提供更便捷、全面的健康服務。我們希望成為一個引領健康風潮的平台，為每個人的健康助力，讓生活充滿活力和動力。</p>
                    </div>
                </div>
            </div>
        </div>
        </section>
        </main>


