@{
    
    ViewData["Title"] = "planComeparison";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}
<div id="dd">
    @*@HttpContext.Session.TryGetValue(CDictionary.SK_PLAN_COMPARERE_RESULT,json);*@
    123 @Model
</div>

<script>
    var data = sessionStorage.getItem("SK_PLAN_COMPARERE_RESULT")
    var dd = document.querySelector("#dd")
    dd.innerHTML += data
</script>