@{
    Layout = "_Layout_Fore";
}



<!-- =======首頁 Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>貴安，歡迎來到GO健康</h1>
        <h2>在這裡，GO健康將與您成為健康好夥伴，一起面對健康煩惱，與您攜手成長</h2>
        <a href="#about" class="btn-get-started scrollto">讓我們開始吧</a>
    </div>
</section><!-- #hero -->
<!-- ======= 區塊版面 Section ======= -->
<main id="main">
    <!-- ======= 關於GO健康的成立 Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>關於GO健康的成立</h2>
            </div>

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2">
                    @*<img src="~/img/about-img.jpg" class="img-fluid" alt="">*@
                    <img src="~/img/pic/medicalteam.jpeg" width="500" height="400" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
                    <h3>GO健康：燃點健康生活的火花</h3>
                    <p>
                        GO健康的成立，源於對社會健康的關切以及對人們更好生活的渴望。當今社會節奏快速，人們的生活壓力逐漸增大，健康成為越來越受重視的話題。GO健康的創辦人們深信，透過科技和創新的手段，可以為人們提供更便捷、全面的健康服務。我們希望成為一個引領健康風潮的平台，為每個人的健康助力，讓生活充滿活力和動力。
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= >GO健康與您  Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title">
                <h2>GO健康與您</h2>
                <p>
                    GO健康致力於建立一個與民眾緊密互動的平台，以滿足人們多樣化的健康需求。我們提供全面的健康檢查服務，由專業的醫療團隊提供精準的健康報告，讓用戶更深入了解自己的身體狀況。同時，GO健康的網站也提供健康資訊、營養建議等內容，旨在引導民眾擁有更健康的生活方式。

                    我們相信，健康不僅僅是醫學的事，更是一種生活態度。因此，GO健康注重在網站上建立一個積極向上、互相鼓勵的社群。用戶可以在這裡分享健康心得、交流運動經驗，共同創造一個充滿正能量的健康社區。GO健康將健康不再定義為單一的身體狀況，而是將其視為全人健康的綜合體，與用戶共同追求身心靈的平衡。
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box">
                    @*<div class="icon"><i class="bi bi-cpu"></i></div>*@
                    <img src="~/img/icon/medicine.png" width="45" height="45" class="img-fluid" alt="">
                    <h4 class="title"><a href="">健康商品</a></h4>
                    <p class="description">健康商品</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    @*<div class="icon"><i class="bi bi-clipboard-data"></i></div>*@
                     <img src="~/img/icon/medical-report.png" width="45" height="45" class="img-fluid" alt="">
                    <h4 class="title"><a href="~/Home/report">個人報告</a></h4>
                    <p class="description">個人報告</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    @*<div class="icon"><i class="bi bi-globe"></i></div>*@
                     <img src="~/img/icon/health-insurance.png" width="45" height="45" class="img-fluid" alt="">
                    <h4 class="title"><a href="~/Home/planComeparison">檢查方案</a></h4>
                    <p class="description">檢查方案</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    @*<div class="icon"><i class="bi bi-images"></i></div>*@
                     <img src="~/img/icon/drug.png" width="45" height="45" class="img-fluid" alt="">
                    <h4 class="title"><a href="">商品種類</a></h4>
                    <p class="description">商品種類</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    @*<div class="icon"><i class="bi bi-sliders"></i></div>*@
                     <img src="~/img/icon/time.png" width="45" height="45" class="img-fluid" alt="">
                    <h4 class="title"><a href="">檢查時段</a></h4>
                    <p class="description">檢查時段</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    @*<div class="icon"><i class="bi bi-building"></i></div>*@
                     <img src="~/img/icon/protection.png" width="45" height="45" class="img-fluid" alt="">
                    <h4 class="title"><a href="">產品認證</a></h4>
                    <p class="description">產品認證</p>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= 問與答 Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2>常見問題</h2>
            </div>

            <ul class="faq-list">

                <li>
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">檢查注意事項 <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            禁食
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">商品注意事項 <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            沒有過期
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">健康文章 <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            不自殺聲明，沒有政治色彩
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq4" class="collapsed question"> 報到事項<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            人來就好
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq5" class="collapsed question"> 商品退換貨<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            健康無價，覆水難收
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">預約相關<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            預約就是要來，當健檢中心很閒阿
                        </p>
                    </div>
                </li>

            </ul>

        </div>
    </section><!-- End Frequently Asked Questions Section -->
    <!-- ======= 點擊回首頁標題 Section ======= -->
    <section class="call-to-action">
        <div class="container">

            <div class="text-center">
                <h3>GO健康的好，是為您著想</h3>
                <p> 還在猶豫不決嗎?點下後開始吧</p>
                <a class="cta-btn" href="~/Home/xxx">方案比較</a>
            </div>

        </div>
    </section><!-- End Call To Action Section -->
    <!-- ======= 健康部落格 Section ======= -->
@*     <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title">
                <h2>健康部落格</h2>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">全部類別</li>
                        <li data-filter=".filter-app">健康新知</li>
                        <li data-filter=".filter-card">活動快訊</li>
                        <li data-filter=".filter-web">名人分享會</li>
                        <li data-filter=".filter-card">媒體報導</li>
                        <li data-filter=".filter-web">企業責任</li>
                    </ul>
                </div>
            </div>
            <!-- ======= 圖片樣式版面 Section ======= -->
            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3><a href="~/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1">App 1</a></h3>
                            <div>
                                <a href="~/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3><a href="~/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3">Web 3</a></h3>
                            <div>
                                <a href="~/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3><a href="~/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2">App 2</a></h3>
                            <div>
                                <a href="~/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3><a href="~/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2">Card 2</a></h3>
                            <div>
                                <a href="~/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3><a href="~/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2">Web 2</a></h3>
                            <div>
                                <a href="~/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3><a href="~/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3">App 3</a></h3>
                            <div>
                                <a href="~/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3><a href="~/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1">Card 1</a></h3>
                            <div>
                                <a href="~/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3><a href="~/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3">Card 3</a></h3>
                            <div>
                                <a href="~/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3><a href="~/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 1">Web 1</a></h3>
                            <div>
                                <a href="~/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 1"><i class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Our Portfolio Section --> *@

    <!-- ======= GO健康團隊 Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title">
                <h2>GO健康團隊</h2>
                <p>人員介紹</p>
            </div>

            <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <img src="~/img/team/team-1.jpg" alt="">
                        <h4>王必勝</h4>
                        <span>外遇專家</span>
                        <p>
                            小三是護理師
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <img src="~/img/team/team-2.jpg" alt="">
                        <h4>涂呦呦</h4>
                        <span>瘧疾專家</span>
                        <p>
                            諾貝爾醫學獎得主
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <img src="~/img/team/team-3.jpg" alt="">
                        <h4>陳時中</h4>
                        <span>酒商</span>
                        <p>
                            紅酒白酒，專業賣酒戶
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Our Team Section -->
    <!-- ======= 意見反映與交通資訊  Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container">

            <div class="section-title">
                <h2>與我們聯繫</h2>
                <p> 交通資訊、電話、信箱</p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="contact-about">
                        <h3>GO健康健檢中心</h3>
                        <p> 專業服務，交通好達</p>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info">
                        <div>
                            <i class="bi bi-geo-alt"></i>
                            <p>106台北市大安區復興南路一段390號2樓</p>
                        </div>

                        <div>
                            <i class="bi bi-envelope"></i>
                            <p>gohealth790@gmail.com</p>
                        </div>

                        <div>
                            <i class="bi bi-phone"></i>
                            <p>+886 0800088088</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5 col-md-12">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="大名" required>
                        </div>
                        <div class="form-group mt-3">
                            <input type="email" class="form-control" name="email" id="email" placeholder="您的信箱" required>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="抱怨問題" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="抱怨內容" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">您的建議我們已經收到，感謝您的意見。</div>
                        </div>
                        <div class="text-center"><button type="submit">客訴送出</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Us Section -->
    <!-- ======= Map Section ======= -->
    <!-- ======= 地圖 Section ======= -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d903.7527257543783!2d121.54326152723291!3d25.033704053586327!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abd379a5ec97%3A0xedc006d25a9e35df!2z6LOH5bGV5ZyL6Zqb6IKh5Lu95pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1701500582398!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!-- End Map Section -->

</main><!-- End #main -->