@{
    ViewData["Title"] = "個人檢查項目及現場情形";
    Layout = "_Layout_Fore";
    var healthCheckStatus = ViewBag.HealthCheckStatus as List<string>;
    var healthCheckItems = ViewBag.HealthCheckItems as List<string>;
    var waitStatus = ViewBag.WaitStatus as List<string>;

    if (waitStatus == null || !waitStatus.Any())
    {
        <text>Wait status data is not available.</text>
    }

    for (int i = 0; i < ViewBag.HealthCheckItems.Count; i++)
    {
        var healthStatus = healthCheckStatus.Count > i ? healthCheckStatus[i] : "unknown";
        var currentWaitStatus = waitStatus.Count > i ? waitStatus[i] : "unknown";
        // 使用 healthStatus 和 currentWaitStatus
    }
    // <text>Health Check Items Count: @healthCheckItems?.Count</text>
    // <br />
    // <text>Health Check Status Count: @healthCheckStatus?.Count</text>
    // <br />
    // <text>Wait Status Count: @waitStatus?.Count</text>
    // <br />
    bool? isUserLoggedIn = ViewBag.IsUserLoggedIn as bool?;

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<style>
    
    .list-group-item-container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .item-check {
        flex: 1;
    }

    .wait-status {
        flex: 1;
    }

    .item-details {
        flex: 3;
        display: flex;
        align-items: center;
        position: relative;
    }

    .item-details .form-check {
            margin-right: 20px;
            
    }

    .form-check-label {
        position: absolute;
        left: 35%; 
    }

    .collapse-button {
        cursor: pointer;
        position: absolute;
        left: 70%; 
        top: 50%; 
        transform: translate(-50%, -50%); 
    }

    .login-link {
        font-size: 20px; 
        font-weight: bold; 
        color: #007bff; 
        text-decoration: none; 
        margin-top: 30px; 
    }

        .login-link:hover {
            text-decoration: underline; 
        }

    .header-section {
        display: flex;
        justify-content: space-around; /* 平均分布標題 */
        margin-top: 50px;
    }

        .header-section > div {
            /* 通過調整寬度來控制標題之間的距離 */
            width: 30%;
            text-align: center;
        }

    .details {
        display: none;
    }

    .collapse-button {
        cursor: pointer;
        margin-left: 10px; /* 調整按鈕位置 */
    }


</style>

<div>
    @if (!isUserLoggedIn.HasValue || !isUserLoggedIn.Value)
    {
        <div style="text-align: center; margin-top: 20px;">
            <a href="@Url.Action("Login", "Accout")" class="login-link">請登入以顯示相關資訊</a>
        </div>
    }
    else
    {
        <div style="text-align: center;">
            <h1 style="margin-top:50px">個人檢查項目及現場情形</h1>
        </div>

        <table class="table">
            <thead>
                <tr class="table-header">
                    <th>檢查完成</th>
                    <th>檢查項目</th>
                    <th>現場等候情形</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.HealthCheckItems != null && healthCheckStatus.Count == ViewBag.HealthCheckItems.Count)
                {
                    for (int i = 0; i < ViewBag.HealthCheckItems.Count; i++)
                    {
                        var healthStatus = healthCheckStatus[i];
                        var currentWaitStatus = waitStatus[i];

                        <tr class="table-row">
                            <td>
                                @if (healthStatus == "done")
                                {
                                    <i class="fas fa-check-circle text-success"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times-circle text-danger"></i>
                                }
                            </td>
                            <td>
                                @ViewBag.HealthCheckItems[i]
                                <div class="collapse-button" onclick="toggleDetails('details' + @i)">
                                    <i class="fas fa-plus-circle"></i>
                                </div>
                            </td>
                            <td>
                                @{
                                    if (currentWaitStatus == "high")
                                    {
                                        <i class="fas fa-user-nurse text-danger"></i>
                                        <i class="fas fa-user-nurse text-danger"></i>
                                        <i class="fas fa-user-nurse text-danger"></i>
                                    }
                                    else if (currentWaitStatus == "medium")
                                    {
                                        <i class="fas fa-user-nurse text-warning"></i>
                                        <i class="fas fa-user-nurse text-warning"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-user-nurse text-success"></i>
                                    }
                                }
                            </td>
                        </tr>
                        <tr id="details@i" class="details">
                            <td colspan="3">
                                <ul>
                                    @{
                                        var projectId = i + 1;
                                        var itemNames = ViewBag.ItemNamesByProjectId[projectId] as List<string>;

                                        if (itemNames != null && itemNames.Any())
                                        {
                                            foreach (var itemName in itemNames)
                                            {
                                                <li>@itemName</li>
                                            }
                                        }
                                        else
                                        {
                                            <li>No items available.</li>
                                        }
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="table-row">
                        <td colspan="3">資料不可用。</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


<script>
    function toggleDetails(detailsId) {
        var details = document.getElementById(detailsId);
        if (details && details.style.display === "none") {
            details.style.display = "block";
        } else if (details) {
            details.style.display = "none";
        }
    }
</script>
