@{
    ViewData["Title"] = "個人檢查項目及現場情形";
    Layout = "_Layout_Fore";
    var healthCheckStatus = ViewBag.HealthCheckStatus as List<string>;
    var healthCheckItems = ViewBag.HealthCheckItems as List<string>;
    var waitStatus = ViewBag.WaitStatus as List<string>;

    if (waitStatus == null || !waitStatus.Any())
    {
        <text>Wait status data is not available.</text>
    }

    for (int i = 0; i < ViewBag.HealthCheckItems.Count; i++)
    {
        var healthStatus = healthCheckStatus.Count > i ? healthCheckStatus[i] : "unknown";
        var currentWaitStatus = waitStatus.Count > i ? waitStatus[i] : "unknown";
        // 使用 healthStatus 和 currentWaitStatus
    }
    // <text>Health Check Items Count: @healthCheckItems?.Count</text>
    // <br />
    // <text>Health Check Status Count: @healthCheckStatus?.Count</text>
    // <br />
    // <text>Wait Status Count: @waitStatus?.Count</text>
    // <br />
    bool? isUserLoggedIn = ViewBag.IsUserLoggedIn as bool?;

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<style>
    
    .list-group-item-container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .item-check {
        flex: 1;
    }

    .wait-status {
        flex: 1;
    }

    .item-details {
        flex: 3;
        display: flex;
        align-items: center;
        position: relative;
    }

    .item-details .form-check {
            margin-right: 20px;
            
    }

    .form-check-label {
        position: absolute;
        left: 35%; 
    }

    .collapse-button {
        cursor: pointer;
        position: absolute;
        left: 70%; 
        top: 50%; 
        transform: translate(-50%, -50%); 
    }

    .login-link {
        font-size: 20px; 
        font-weight: bold; 
        color: #007bff; 
        text-decoration: none; 
        margin-top: 30px; 
    }

        .login-link:hover {
            text-decoration: underline; 
        }

    .header-section {
        display: flex;
        justify-content: space-around; /* 平均分布標題 */
        margin-top: 50px;
    }

        .header-section > div {
            /* 通過調整寬度來控制標題之間的距離 */
            width: 30%;
            text-align: center;
        }

    .details {
        display: none;
    }

     .details-content {
        display: none;
    }
    .collapse-button {
        cursor: pointer;
    }
    .detail-item {
        padding-left: 20px;
    }

   .table-container {
        width: 70%; /* 設置容器寬度為 70% */
        margin-left: 15%; /* 左側邊距設為 15% */
        margin-right: 15%; /* 右側邊距設為 15% */
    }

    .table {
        width: 100%; /* 設置表格寬度為容器的 100% */
    }

    .table .project-name,
    .table .item-name {
        text-align: left; /* 靠左對齊 */
    }

    /* 對於其他列 */
    .table th, 
    .table td {
        text-align: center; /* 居中對齊 */
    }


</style>
<div>
    @if (!isUserLoggedIn.HasValue || !isUserLoggedIn.Value)
    {
        <div style="text-align: center; margin-top: 20px;">
            <a href="@Url.Action("Login", "Accout")" class="login-link">請登入以顯示相關資訊</a>
        </div>
    }
    else
    {
        <div style="text-align: center;">
            <h1 style="margin-top:50px">個人檢查項目及現場情形</h1>
        </div>
                                                        <div style="display: flex; width: 100%;">
                                                    <div style="width: 50%; display: flex; align-items: center; justify-content: center; text-align: center;">
                                                      <div style="width: 50%; text-align: left; padding-left: 100px">
    <i class="fas fa-check-circle text-success"></i>: 您已完成的檢查項目
    <br>
    <i class="fas fa-times-circle text-danger"></i>: 您尚未完成的檢查項目
</div>
                                                    </div>
                                                    <div style="width: 50%;">
                                                        <br>
                                                        <i class="fas fa-user-nurse text-success"></i>: 無需等候，可立即檢查
                                                        <br>
                                                        <i class="fas fa-user-nurse text-warning"></i><i class="fas fa-user-nurse text-warning"></i>: 需等候5-10分鐘
                                                        <br>
                                                        <i class="fas fa-user-nurse text-danger"></i><i class="fas fa-user-nurse text-danger"></i><i class="fas fa-user-nurse text-danger"></i>: 需等候20分鐘以上，建議先進行其他檢查項目
                                                    </div>
                                                </div>
        <div class="table-container">
            <table class="table">
                <thead>
            <tr class="table-header">
                <th>檢查完成</th>
                <th class="project-name">檢查項目</th>
                <th class="item-name" style="padding-left: 20px">細項</th>
                <th>現場等候情形</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.HealthCheckItems != null && healthCheckStatus.Count == ViewBag.HealthCheckItems.Count)
            {
                for (int i = 0; i < ViewBag.HealthCheckItems.Count; i++)
                {
                    var healthStatus = healthCheckStatus[i];
                    var currentWaitStatus = waitStatus[i];

                    <tr class="table-row">
                        <td>
                            @if (healthStatus == "done")
                            {
                                <i class="fas fa-check-circle text-success"></i>
                            }
                            else
                            {
                                <i class="fas fa-times-circle text-danger"></i>
                            }
                        </td>
                        <td class="project-name">@ViewBag.HealthCheckItems[i]</td>
                        <td class="item-name">
                            @foreach (var itemName in (ViewBag.ItemNamesByProjectId.ContainsKey(i + 1) ? ViewBag.ItemNamesByProjectId[i + 1] : new List<string>()))
                            {
                                <div class="detail-item">@itemName</div>
                            }
                        </td>
                        <td>
                                @{
                                    if (currentWaitStatus == "high")
                                    {
                                        <i class="fas fa-user-nurse text-danger"></i>
                                        <i class="fas fa-user-nurse text-danger"></i>
                                        <i class="fas fa-user-nurse text-danger"></i>
                                    }
                                    else if (currentWaitStatus == "medium")
                                    {
                                        <i class="fas fa-user-nurse text-warning"></i>
                                        <i class="fas fa-user-nurse text-warning"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-user-nurse text-success"></i>
                                    }
                                }
                           </td>
                    </tr>
                }
            }
            else
            {
                <tr class="table-row">
                    <td colspan="4">資料不可用。</td>
                </tr>
            }
        </tbody>
    </table>
        </div>
    }
</div>

@* <script>
 function toggleDetails(detailsId) {
    var details = document.getElementById(detailsId);

    if (details) {
        var iconId = 'icon' + detailsId.substring(7);
        var icon = document.getElementById(iconId);

        if (details.style.display === 'none' || details.style.display === '') {
            details.style.display = 'block';
            if (icon) {
                icon.classList.remove('fa-plus-circle');
                icon.classList.add('fa-minus-circle');
            }
        } else {
            details.style.display = 'none';
            if (icon) {
                icon.classList.remove('fa-minus-circle');
                icon.classList.add('fa-plus-circle');
            }
        }
    }
}
</script> *@