
@{
    ViewData["Title"] = "live";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}

<h1>live</h1>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">第一檢查室</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">第二檢查室</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">第三檢查室</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">@*第一檢查室項目*@
        <div class="offcanvas-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    一般生理檢查
                </li>

                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    尿液一般檢查
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    血液常規檢查
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    腎功能檢查
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    肝功能檢查
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    新陳代謝檢查
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    男性內分泌檢查
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    男性癌症檢查
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    體脂肪檢查
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    腹部超音波
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    頸動脈超音波
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    男性超音波檢查
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    眼部檢查
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    胸腔檢查
                </li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    自律神經壓力檢查
                </li>

            </ul>
        </div>
        </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">        @*第二檢查室項目*@

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                一般生理檢查               
            </li>
          
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                尿液一般檢查</li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                血液常規檢查</li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                腎功能檢查</li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                肝功能檢查</li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                新陳代謝檢查</li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                男性內分泌檢查</li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                男性癌症檢查</li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                體脂肪檢查</li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                腹部超音波</li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                頸動脈超音波</li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                男性超音波檢查</li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                眼部檢查</li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                胸腔檢查</li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                自律神經壓力檢查</li>
          
        </ul>
         
      </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">        @*第三檢查室項目*@
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                一般生理檢查
            </li>

            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                尿液一般檢查
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                血液常規檢查
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                腎功能檢查
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                肝功能檢查
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                新陳代謝檢查
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                男性內分泌檢查
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                男性癌症檢查
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                體脂肪檢查
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                腹部超音波
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                頸動脈超音波
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                男性超音波檢查
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                眼部檢查
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                胸腔檢查
            </li>
            <li class="list-group-item">
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                自律神經壓力檢查
            </li>

        </ul>
        </div>
</div>