
@{
    ViewData["Title"] = "planComeparisonTotal";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}

<h1>planComeparisonTotal</h1>
@*暫存*@
<div class="row gy-4 ">

    @*移動區*@
    <div class="col-lg-3 col-md-4 portfolio-item  filter-heart  ">
        <div class="member">
            <img src="~/img/PersonalPlan/heart.jpg" alt="" >
            <h4>樂活銀髮方案</h4>
            <span>
                <input class="form-check-input" type="checkbox" id="planCheckbox1" value="加入方案比較">
                加入方案比較
            </span>
            <p>
                方案描述
            </p>

            <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 ">
        <div class="member">
            <img src="~/img/PersonalPlan/kidney.jpg" alt="" width="200" height="150">
            <h4>活力青年方案</h4>
            <span>方案</span>
            <p>
                方案描述
            </p>
            <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4">
        <div class="member">
            <img src="~/img/PersonalPlan/liver.jpg" alt="" width="200" height="150">
            <h4>護肝方案</h4>
            <span>方案</span>
            <p>
                方案介紹
            </p>
            <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4">
        <div class="member">
            <img src="~/img/PersonalPlan/lung.jpg" alt="" width="200" height="150">
            <h4>健肺方案</h4>
            <span>方案</span>
            <p>
                方案介紹
            </p>
            <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 ">
        <div class="member">
            <img src="~/img/PersonalPlan/colon.jpg" alt="" width="200" height="150">
            <h4>樂活銀髮方案</h4>
            <span>方案</span>
            <p>
                方案描述
            </p>
            <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4">
        <div class="member">
            <img src="~/img/PersonalPlan/bladder.jpg" alt="" width="200" height="150">
            <h4>活力青年方案</h4>
            <span>方案</span>
            <p>
                方案描述
            </p>
            <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4">
        <div class="member">
            <img src="~/img/PersonalPlan/pancreas.jpg" width="200" height="150">
            <h4>護肝方案</h4>
            <span>方案</span>
            <p>
                方案介紹
            </p>
            <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4">
        <div class="member">
            <img src="~/img/PersonalPlan/stomach.jpg" width="200" height="150">
            <h4>健肺方案</h4>
            <span>方案</span>
            <p>
                方案介紹
            </p>
            <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4">
        <div class="member">
            <img src="~/img/PersonalPlan/uterus.jpg" width="200" height="150">
            <h4>健肺方案</h4>
            <span>方案</span>
            <p>
                方案介紹
            </p>
            <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4">
        <div class="member">
            <img src="~/img/PersonalPlan/golbladder.jpg" width="200" height="150">
            <h4>健肺方案</h4>
            <span>方案</span>
            <p>
                方案介紹
            </p>
            <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4">
        <div class="member">
            <img src="~/img/PersonalPlan/spleen.jpg" width="200" height="150">
            <h4>健肺方案</h4>
            <span>方案</span>
            <p>
                方案介紹
            </p>
            <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>

    @*移動區*@


</div>