
@{
    ViewData["Title"] = "PlanIntroductionProject";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}
@model List<MedSysProject.ViewModels.CPlanViewModel> 

@*這是回上頁抬頭*@
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h1>方案詳細</h1>
            <ol>
                <li><a href="~/Home/planComeparison">回上頁</a></li>
                <li>目前位置</li>
                <li><a href="~/Home/Customcompare">確認方案與加選自訂方案</a></li>
            </ol>
        </div>

    </div>
   @* <button type="button" class="btn btn-outline-danger" style="background-color:saddlebrown"><a asp-action="planComeparisonTotal" asp-controller="Home">測試跳轉用</a></button>*@
</section>


<body>

    <!-- ======= Header ======= -->
    <main>


        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">

                                <div class="swiper-slide">
                                    <img src="~/img/PersonalPlan/heart.jpg" alt="" >
                                </div>                                                            

                            </div>

                            <div > </div>

                        </div>
                    </div>
                 @*  原位置在這裡 *@
                    <div class="col-lg-4">
                        <div class="portfolio-info">

                            <h3 style="color:#7045af" id="PlanName">  樂活銀髮方案<input id="PlanID" type="hidden"  name="PlanID" value="2"/> </h3>
                                
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item"><strong style="color:#b1297d">價格</strong>: NT$</li>
                                <li class="list-group-item"><strong style="color:#51966d">適合族群</strong>: 中高年齡層</li>
                                <li class="list-group-item"><strong style="color:#84af45">性別限制</strong>: 男<i class="bi bi-bookmark-check-fill" style="color:#4584af"></i>/女<i class="bi bi-bookmark-check-fill" style="color:#af4584"></i></li>
                            </ul>
                            
                        </div>
                        <div class="portfolio-description">
                       
                            <h2 class="badge  text-wrap">

                                <button class="btn">
                                    <a href="~/Home/Customcompare">
                                    <hr /> <i class="bi bi-mouse2-fill">
                                         確認方案與加選自訂方案
                                        </i>
                                    <hr />
                                    </a>
                                </button>
                            </h2>
                        
                            <div class="table-responsive-lg  table-dialog table-dialog-scrollable">
                                <div >
                                <table class="table ">
                                    <thead>
                                        <tr class="">
                                            <th scope="col" disable></th>
                                            <th scope="col" >項目內容</th>
                                            @foreach (var project in Model)
                                            {

                                                    @if (project.ProjectId == 1)
                                                    {
                                                        <th id="item" class="text-nowrap">

                                                            @if (project.ItemId > 0)
                                                            {
                                                                @for (int i = 0; i < project.ItemName.Count(); i++)
                                                                {
                                                                    @Html.DisplayFor(p => project.ItemName[i])
                                                                }
                                                            }
                                                    </th>
                                                   
                                                        continue;
                                                    }
                                            }
                                            <th scope="col" disable>                                          
                                                
                                          </th>
                                            <th scope="col">男</th>
                                            <th scope="col">女</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ProjectDetail">
                                        @foreach(var project in Model)
                                        {

                                            <tr>
                                              
                                                    @if (project.ProjectId >1)
                                                {
                                                    <th scope="row" id="project">@project.ProjectName </th>
                                                        <th id="item" class="text-nowrap">
                                                        
                                                        @if (project.ItemId > 0)
                                                        {
                                                            @for (int i = 0; i < project.ItemName.Count(); i++)
                                                            {
                                                                @Html.DisplayFor(p => project.ItemName[i])
                                                            }
                                                        }
                                                    </th>
                                                 
                                                    <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                                    <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                                      continue;
                                                } 
                                                
                                               
                                              
                                        </tr>
                                        
                                        
                                        }
                                        
                                        <tr>
                                            <th scope="row">尿液一般檢查</th>
                                            <td>尿酸鹼度</td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">體脂肪檢查</th>
                                            <td>體脂肪、肌肉率</td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                        </tr>

                                    </tbody>
                                </table>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                  
                </div>

            </div>
        </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->
   

</body>
@section Scripts{
<script>
    const xhr = new XMLHttpRequest();
        const PlanName = document.querySelector("#PlanName");// <h3 style="color:#7045af" id="PlanName"> 樂活銀髮方案 </h3>
        const ProjectDetail = document.querySelector("#ProjectDetail");//start   <tbody id="ProjectDetail">
        const url = "https://localhost:7078/api/PlanIntroductionProject/";
        const id = document.querySelectorAll("#item");
        const project= document.querySelectorAll("#project");
        console.log(project);
    //function load() { 
    //    $.getJSON(url, function (datas) { 
    //        const id = $("#PlanID").val();
    //        if (id) {
    //            const jsonData = JSON.stringify({
    //                planId: PlanID, planName: PlanName.val()
    //            });
    //            $.ajax({
    //                url: `${url}${id}`,
    //                type:'GET',
    //                contentType:'appliction/json',
    //                    data: jsonData
    //            })
    //        }
    //    })
    
    
    //}


</script>
}