
@{
    ViewData["Title"] = "PlanIntroductionProject";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}

<h1>方案詳細</h1>



<body>

    <!-- ======= Header ======= -->
    <main>


        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">

                                <div class="swiper-slide">
                                    <img src="~/img/PersonalPlan/heart.jpg" alt="" >
                                </div>

                               @* <div class="swiper-slide">
                                    <img src="assets/img/portfolio/portfolio-2.jpg" alt="">
                                </div>

                                <div class="swiper-slide">
                                    <img src="assets/img/portfolio/portfolio-3.jpg" alt="">
                                </div>*@

                            </div>

                            <div > </div>

                        </div>
                    </div>
                 @*  原位置在這裡 *@
                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3 style="color:#7045af">樂活銀髮方案</h3>
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item"><strong style="color:#b1297d">價格</strong>: NT$</li>
                                <li class="list-group-item"><strong style="color:#51966d">適合族群</strong>: 中高年齡層</li>
                                <li class="list-group-item"><strong style="color:#84af45">性別限制</strong>: 男<i class="bi bi-bookmark-check-fill" style="color:#4584af"></i>/女<i class="bi bi-bookmark-check-fill" style="color:#af4584"></i></li>
                            </ul>
                            
                        </div>
                        <div class="portfolio-description ">
                            <h2>This is an example of portfolio detail</h2>
                      
                            <div class="table-responsive-lg ">
                                <table class="table ">
                                    <thead>
                                        <tr class="">
                                            <th scope="col" disable></th>
                                            <th scope="col" >項目名稱</th>
                                            <th scope="col">男</th>
                                            <th scope="col">女</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">一般生理檢查</th>
                                            <td>身高</td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">一般生理檢查</th>
                                            <td>體重</td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">一般生理檢查</th>
                                            <td>體溫</td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive-lg">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" disable></th>
                                            <th scope="col">一般生理檢查</th>
                                            <th scope="col">男</th>
                                            <th scope="col">女</th>
                                            <th scope="col">一般生理檢查</th>
                                            <th scope="col">男</th>
                                            <th scope="col">女</th>
                                            <th scope="col">一般生理檢查</th>
                                            <th scope="col">男</th>
                                            <th scope="col">女</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"></th>
                                            <td>身高</td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td>體重</td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td>體溫</td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                            <td><i class="bi bi-check2-square" style="color:#36edae"></i></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*  原位置在這裡 *@
                </div>

            </div>
        </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->
   

</body>