@{
    ViewData["Title"] = "Reserve";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}
@model IEnumerable<MedSysProject.Models.Plan>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<link href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/print/bootstrap-table-print.min.js"></script>

<style>
   
    .A {
        /*position: fixed;*/
        /* top: 50%; */
        /*z-index: 999;*/
       /* width: 20%; /*270px;*/
        height: 75%;
        margin-left:25%;
        margin-bottom: 26%;
        /*margin-bottom: 5px;*/
       
       /* left: 20px;*/
        overflow: visible;
      /*  transform: translateX(-270px);*/
        background-color: #f2f9f8;
        border:solid 3px;
       /* word-wrap:;*/
        float:right;
        text-align:justify-all;
    }

   /* div {
        word-wrap: break-word;
        border:solid 3px;
    }*/
    /*.open .main {
        transform: translateX(270px);
         // 點了 .header 會讓 .menu 往右推 270 px 以容納滑出來的選單
    }

    .open .aside {
        transform: translateX(0px);
          // 點了 .header 會讓選單滑入視窗中
    }*/

    #1 {
        padding-top: 100px;
    }

 /*   .offcanvas-body{
        height:8%;
    }*/

    table,
    td {
        border: 1px solid #333;
        
    }


    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
    #1{
        background-color: #f2f9f8;
    }

    .accordion-item{
        background-color: #f2f9f8;
    }
    .but{
        text-align: center;
    }
    h5{
       margin-left:4%;
      text-align:match-parent;
        
     
    }

    .form{
        margin-top:20%;
    }

    td,th {
        text-align:center;
    }

    #sbmbnt{
        margin-top:30px;
        margin-bottom:3px;
    }
    /*#bigC{
        position:relative;
    }*/

   /* #sbmbtn{
        position:absolute;
        bottom:3px;
        left:40%;
    }*/
   /* div{border:dashed 3px red;}*/
   
</style>

<h1 class="container">Reserve</h1>
<!doctype html>
<html lang="zh-hant">

<body>


   
   
   
    <div class="container-fluid">
        <div class="row">
            <div class="col-5"></div>
            <h5 id="h5" class="col-1">目前選擇項目</h5>
            <div class="col-6"></div>
            <div class="col-4"></div>
            <div class="overflow-auto col-6 A #bigC">
                <div id="rsitem">
                    <table border="1" data-toggle="table" data-show-print="false" data-show-footer="true" id="table">
                        <thead>
                            <tr>
                                <th data-field="id" data-falign="left" data-footer-formatter="idFormatter" class="col-1">
                                編號
                            </th>
                                <th data-field="name" data-falign="center" data-footer-formatter="nameFormatter" class="col-9">
                                    項目
                                </th>
                                <th data-field="price" data-falign="right" data-footer-formatter="priceFormatter" class="col-2">
                                    價格
                                </th>
                            </tr>
                        </thead>
                        <tbody class="show ">
                            <tr>
                                <td>1</td>
                                <td>身高</td>
                                <td>$100</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>體重</td>
                                <td>$100</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>血壓-收縮壓</td>
                                <td>$100</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>理學檢查</td>
                                <td>$100</td>
                            </tr>
                          @*  <tr>
                                <td colspan="3">共"4"項,總金額為"400"元新台幣</td>
                                
                            </tr>*@
                           
                        </tbody>
                        
                            

                       
                    </table>
                  
                 </div>
                
             </div>
            
            <div class="col-5 id=btndiv"></div>
            <a class="btn btn-primary but col-2" data-bs-toggle="modal" href="#detail" role="button" id="sbmbtn">馬上預約</a>
            <div class="col-5"></div>
            <div class="col-5"></div>

            @*<div class="container-fluid col-9">

        <div class="accordion row" id="accordionExample">
            <div class="accordion-item col-4 mr-5">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        方案
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                    <div class="accordion-body">
                                <div class="list-group click">
                                    
                                    @{

                                        foreach(var s in Model)
                                        {
                                            <label class="list-group-item">
                                                <input class="form-check-input me-2" type="checkbox" value="">
                                                @Html.DisplayFor(modelitem => s)
                                            </label>
                                         
                                        }
                                    }
                                
                                </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item col-4 mr-3">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        類別
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                    <div class="accordion-body">
                                <div class="list-group ">
                                    @{

                                        foreach (var s in Model)
                                        {
                                            <label class="list-group-item">
                                                <input class="form-check-input me-2" type="checkbox" value="">
                                                @Html.DisplayFor(modelitem => s)
                                            </label>

                                        }
                                    }
                                  
                                </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item col-4 ">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        項目
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                    <div class="accordion-body">
                               
                                    <div class="list-group">
                                    @{

                                        foreach (var s in Model)
                                        {
                                            <label class="list-group-item">
                                                <input class="form-check-input me-2" type="checkbox" value="">
                                                @Html.DisplayFor(modelitem => s)
                                            </label>

                                        }
                                    }
                                   
                                   
                                </div>
                            </div>
                </div>
             
            </div>
                   
        </div>
       
        </div>*@
    </div>

        @*預約詳細*@
        <div class="modal" tabindex="-1" id="detail">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">資料確認</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="rsdiv" class="container-fluid"></div>
                        <form class="form">
                            
                            <label class="mb-2 mt-2">
                                預約日期:
                                <input type="date"
                                       name="party"
                                       min=new date()
                                       max="2023/11/21"
                                       required />
                                <span class="validity"></span>
                            </label>

                            <p>
                                <button>Submit</button>
                            </p>
                            <select class="form-select col-12 mb-2" aria-label="Default select example">
                                <option selected>付款方式</option>
                                <option value="1">付現</option>
                                <option value="2">刷卡</option>

                            </select>


                            <div class="form-floating mb-2 col-12">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">帳號</label>
                            </div>


                            <div class="form-floating col-12 mb-2">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">密碼</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" href="#reserve">確認</button>
                    </div>
                </div>
            </div>
        </div>
       

@* 預約確認*@
    <div class="modal fade" id="reserve" aria-hidden="true" aria-labelledby="reservelbl" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reservelbl">確定要預約嗎?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                    預約日期:2023/12/01 付費方式:現場付款
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#confirm" data-bs-toggle="modal">確定</button>
                    <button class="btn btn-danger" data-bs-target="#cancel" data-bs-toggle="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel3">預約已完成</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    預約日期:2023/12/01 付費方式:現場付款
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-dismiss="modal" >確定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cancel" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">預約未完成</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="moda2-body">
                    預約未完成
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-target="#exampleModalToggle" data-bs-dismiss="modal">返回</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5"></div>
            @*<a class="btn btn-primary but col-2 sticky-bottom" data-bs-toggle="modal" href="#detail" role="button" id="sbmbtn">馬上預約</a>*@
        <div class="col-5"></div>
    </div>
       

</div>
 @* <div>
  <div id="abc" style="left:50px">66666666666666</div>
    <div id="acc">00000000000</div>
    </div>*@
 
</body>
</html>

<script>
    ////total sum////
   function idFormatter() {
    return 'Total'
  }

  function nameFormatter(data) {
    return data.length
  }

  function priceFormatter(data) {
    var field = this.field
    return '$' + data.map(function (row) {
      return +row[field].substring(1)
    }).reduce(function (sum, i) {
      return sum + i
            console(sum)
    }, 0)
  }
    ////////////

    //Print//
    var $table = $('#table')

    $(function () {
        $table.bootstrapTable()
    })

    ////////
    var item = document.querySelector("#rsitem").innerHTML;
    
    var reserve = document.querySelector("#rsdiv").innerHTML.valueOf
    $(".click").click(function () {
        $(".show").removeClass("d-none")})

    $("#sbmbtn").click(()=>{
        console.log(item)
        
    //reserve = "987";
        document.querySelector("#rsdiv").innerHTML = `${item}`
        console.log(reserve)
    })


  
</script>

