@{
    ViewData["Title"] = "testplan";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}
<div class="table-responsive">
    <table class="table table-striped text-successtable-border border-light">
        <thead class="border-light">
            <tr>
                <th scope="col"></th>
                <th scope="col"><strong>Basic</strong></th>
                <th scope="col"><strong>Standard</strong></th>
                <th scope="col"><strong>Premium</strong></th>
                <th scope="col"><strong>Managed</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">HDD Storage</th>
                <td>700 MB</td>
                <td>1,5 GB</td>
                <td>50 GB</td>
                <td>up to 5T</i></td>
            </tr>
            <tr>
                <th scope="row">Web Server</th>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
            </tr>
            <tr>
                <th scope="row">Database</th>
                <td>-</td>
                <td>Optional</td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
            </tr>
            <tr>
                <th scope="row">DNS</th>
                <td>-</td>
                <td>-</td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
            </tr>
            <tr>
                <th scope="row">Backups</th>
                <td>-</td>
                <td>-</td>
                <td><i class="fas fa-check"></i></td>
                <td><i class="fas fa-check"></i></td>
            </tr>
            <tr>
                <th scope="row">Tech Support</th>
                <td>None</td>
                <td>35$/incident</td>
                <td>15$/incident</td>
                <td>24/7 included</td>
            </tr>
            <tr>
                <td></td>
                <td class="fw-bold">Free</td>
                <td class="fw-bold">$99/mo</td>
                <td class="fw-bold">$179/mo</td>
                <td class="fw-bold"><a href>Contact us</a></td>
            </tr>
            <tr>
                <th class=""></th>
                <th class=""><button class="btn btn-primary">Sign-up</button></th>
                <th class=""><button class="btn btn-primary">Buy Now</button></th>
                <th class=""><button class="btn btn-primary">Buy Now</button></th>
                <th class=""></th>
            </tr>
        </tbody>
    </table>
</div>