
@{
    ViewData["Title"] = "xxx";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}
<style>
h5{
    font-size:32px;
    font-weight:bold;
}
</style>

<div class="container">
<div class="row" >
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                    <h5 class="card-title">樂活銀髮方案</h5>
                    <p class="card-text">身體機能隨著年紀變化，健康狀況越是會亮起紅燈。樂活銀髮方案，可以協助找出自己須注意管理健康狀況，讓不健康遠離自己。</p>
                <a href="#" class="btn btn-primary">點擊加入</a>

                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">detail</button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">project類別</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        內容
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                    <h5 class="card-title">活力青年方案</h5>
                    <p class="card-text">容易熬夜、暴飲暴食、工作壓力大，怎麼辦?活力青年方案，協助找回有活力的自己，管理自己健康狀態。</p>
                <a href="#" class="btn btn-primary">點擊加入</a>

                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">detail</button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">project類別</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        內容
                    </div>

            </div>
           
            </div>

        </div>
    </div>
        <div class="container">
            <!--Section: Content-->
            <section class="text-center">
                <h4 class="mb-4"><strong>Pricing</strong></h4>

                <div class="btn-group mb-4" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary active">Monthly billing</button>
                    <button type="button" class="btn btn-primary">
                        Annual billign <small>(2 months FREE)</small>
                    </button>
                </div>

                <div class="row gx-lg-5">

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!-- Card -->
                        <div class="card">

                            <div class="card-header bg-white py-3">
                                <p class="text-uppercase small mb-2"><strong>Free</strong></p>
                                <h5 class="mb-0">Free</h5>
                            </div>

                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Feature</li>
                                    <li class="list-group-item">Feature</li>
                                    <li class="list-group-item">Feature</li>
                                </ul>
                            </div>

                            <div class="card-footer bg-white py-3">
                                <button type="button" class="btn btn-success btn-sm">Get it</button>
                            </div>

                        </div>
                        <!-- Card -->

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!-- Card -->
                        <div class="card border border-primary">

                            <div class="card-header bg-white py-3">
                                <p class="text-uppercase small mb-2"><strong>Essential</strong></p>
                                <h5 class="mb-0">$19/month</h5>
                            </div>

                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Feature</li>
                                    <li class="list-group-item">Feature</li>
                                    <li class="list-group-item">Feature</li>
                                    <li class="list-group-item">Feature</li>
                                </ul>
                            </div>

                            <div class="card-footer bg-white py-3">
                                <button type="button" class="btn btn-primary btn-sm">Buy now</button>
                            </div>

                        </div>
                        <!-- Card -->

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!-- Card -->
                        <div class="card">

                            <div class="card-header bg-white py-3">
                                <p class="text-uppercase small mb-2"><strong>Advanced</strong></p>
                                <h5 class="mb-0">$49/month</h5>
                            </div>

                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Feature</li>
                                    <li class="list-group-item">Feature</li>
                                    <li class="list-group-item">Feature</li>
                                    <li class="list-group-item">Feature</li>
                                    <li class="list-group-item">Feature</li>
                                </ul>
                            </div>
                            <div class="card-footer bg-white py-3">
                                <button type="button" class="btn btn-info btn-sm">Buy now</button>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <!-- Card -->
                        <div class="card">
                            <div class="card-header bg-white py-3">
                                <p class="text-uppercase small mb-2"><strong>Enterprise</strong></p>
                                <h5 class="mb-0">$189/month</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Feature</li>
                                    <li class="list-group-item">Feature</li>
                                    <li class="list-group-item">Feature</li>
                                    <li class="list-group-item">Feature</li>
                                    <li class="list-group-item">Feature</li>
                                    <li class="list-group-item">Feature</li>
                                </ul>
                            </div>
                            <div class="card-footer bg-white py-3">
                                <button type="button" class="btn btn-info btn-sm">Buy now</button>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <!--Grid column-->
                </div>
            </section>
            <!--Section: Content-->
        </div>
@*</div>*@
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                    <h5 class="card-title">婦女安心方案</h5>
                    <p class="card-text">婦女安心方案健康檢查，含現代人好發的疾病，提早預防遺傳、傳染性等疾病，並在生殖、生育功能與遺傳問題上做加強篩檢。</p>
                <a href="#" class="btn btn-primary">點擊加入</a>

                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">detail</button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">project類別</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        內容
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                    <h5 class="card-title">男性保健方案</h5>
                    <p class="card-text">隨著年齡增長，男性面臨的潛在健康風險增加，如何發現潛在危機，男性保健方案是您最好的健康選擇。</p>
                <a href="#" class="btn btn-primary">點擊加入</a>

                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">detail</button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">project類別</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        內容
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

</div>