@model IEnumerable<MedSysProject.Models.Project>
@{
    
    ViewData["Title"] = "xxx";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
h5{
    font-size:32px;
    font-weight:bold;
}
.bg{
        background-image: url('/img/personalplan/tree.jpg');
      
        background-size:cover;
        background-position:top center;
        
       
}


    .card {
        background-color: #2F8927;
        background-position: center;
        background-size: contain;
        border-radius:10% 0 10% 0;
        border:solid;
        border-color: #2F8927;
    }
</style>
@*這是回上頁抬頭*@
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>個人方案選擇</h2>
            <ol>
                <li><a href="~/Home/planComeparison">方案選擇</a></li>
                <li>目前位置</li>
               
            </ol>
        </div>

    </div>
    <button type="button" class="btn btn-outline-danger" style="background-color:saddlebrown"><a asp-action="planComeparisonTotal" asp-controller="Home">測試跳轉用</a></button>
</section>



<div class="bg">
    <div class="container">
        <div class="row">
            @*確認方案按下後，其他button變disable*@



            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card  border-5  ">
                        <div class="card border-3 ">
                            <div class="card-body ">
                                <div class="overflow-auto">
                                    <h5 class="card-title">類別檢查</h5>
                                    <p class="card-text">22類別檢查</p>
                                    @*搜尋欄位*@
                                    <h2>尋找類別</h2>
                                    <p>輸入您想檢查的類別:</p>
                                    <input class="form-control" id="myInput" type="text" placeholder="輸入關鍵字，如:新陳代謝檢查">
                                    <br>
                                    @*搜尋欄位*@
                                    @*此為類別table*@
                                    <div class="accordion-item" id="myDIV ">
                                        <h2 class="accordion-header" id="flush-headingThree">
                                           
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapseThree">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                類別名稱
                                            </button>
                                        </h2>
                                   
                                        <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body " id="myDIV ">
                                           
                                                <table id="PlanList" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>編號</th>
                                                            <th>細項名稱</th>
                                                            <th>價格</th>
                                                            <th>編輯</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="myTable">
                                                        <tr>
                                                            <td>1</td>
                                                            <td>
                                                                細項項目
                                                            </td>
                                                            <td>
                                                                NT$價格
                                                            </td>
                                                            <td><button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>促項項目 </td>
                                                            <td>NT$價格</td>
                                                            <td><button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    @*此為類別table*@
                                    @*此為類別table*@ @*性別限制，如果為男性，則無法選擇*@
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingThree">

                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapseThree">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" disabled>
                                                女性內分泌檢查 (disabled)
                                            </button>
                                           
                                        </h2>
                                        <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <table id="PlanList" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>編號</th>
                                                            <th>細項名稱</th>
                                                            <th>價格</th>
                                                            <th>編輯</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>
                                                                細項項目
                                                            </td>
                                                            <td>
                                                                NT$價格
                                                            </td>
                                                            <td><button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>細項項目 </td>
                                                            <td>NT$價格</td>
                                                            <td><button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    @*此為類別table*@
                        

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">


                    <div class="card  border-5  ">
                        <div class="card  border-3 ">
                            <div class="card-body">
                                <h5 class="card-title">細項檢查item</h5>
                               
                                @*此為項目table*@
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingThree">

                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapseThree">
                                            97種單項
                                        </button>
                                    </h2>
                                    <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <table id="PlanList" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>細項名稱</th>
                                                        <th>價格</th>
                                                        <th>編輯</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
                                                        <td>
                                                            細項項目
                                                        </td>
                                                        <td>
                                                            NT$價格
                                                        </td>
                                                        <td><button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" disabled></td>   @*性別限制，如果為男性，則無法選擇*@
                                                        <td>細項項目 </td>
                                                        <td>NT$價格</td>
                                                        <td><button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                @*此為項目table*@


                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <div>
            <div id="partialview" style="background-color:saddlebrown">
                <p style="background-color:saddlebrown">
                    這是partialview，拿來放加入項目
                @Html.Partial("partialview1")
                </p>

            </div>
        </div>
    </div>
</div>

    @section Scripts{
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
     
       
  


    </script>
    
    
    }