
@{
    ViewData["Title"] = "xxx";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}

<p class="d-inline-flex gap-1">
    <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
       方案1
    </a>
    <button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        方案2
    </button>
    <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        方案3
    </a>
    <button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        方案4
    </button>

</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
       內容描述
    </div>
</div>