@model IEnumerable<MedSysProject.Models.Project>
@{
    
    ViewData["Title"] = "xxx";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}
<style>
h5{
    font-size:32px;
    font-weight:bold;
}
.bg{
        background-image: url('/img/personalplan/tree.jpg');
      
        background-size:cover;
        background-position:top center;
        
       
}


    .card {
        background-color: #2F8927;
        background-position: center;
        background-size: contain;
        border-radius:10% 0 10% 0;
        border:solid;
        border-color: #2F8927;
    }
</style>

<div class="bg">
    <div class="container">
        <div class="row">
            @*確認方案按下後，其他button變disable*@

            <div class="container">

                <!--Section: Content-->
                <section class="text-center ">

                    <h4 class="mb-4 bg-green" style="background-color:aliceblue"><strong class="text-dark">方案比較</strong></h4>
                                       
                    <div class="row gx-lg-5">

                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4">
                          
                                <!-- Card -->
                                <div class="card ">
                                   
                                        <div class="card-header bg-white py-3">
                                            <p class="text-uppercase small mb-2 "><strong>樂活銀髮方案</strong></p>
                                            <h5 class="mb-0">NT$34450</h5>
                                        </div>

                                        <div class="card-body" id="oldplan">
                                            <ul class="list-group list-group-flush">
                                               @foreach(var p in Model){
                                            <li class="list-group-item">@p.ProjectName</li>
                                        }
                                      @*  <li class="list-group-item">尿液一般檢查</li>
                                                <li class="list-group-item">血液常規檢查</li>
                                                <li class="list-group-item">腎功能檢查</li>
                                                <li class="list-group-item">肝功能檢查</li>
                                                <li class="list-group-item">新陳代謝檢查</li>
                                                <li class="list-group-item">腹部超音波</li>
                                                <li class="list-group-item">頸動脈超音波</li>
                                                <li class="list-group-item">心臟超音波</li>
                                                <li class="list-group-item" hidden>女性超音波檢查 </li>
                                                <li class="list-group-item">男性超音波檢查 </li>
                                                <li class="list-group-item">眼部檢查</li>
                                                <li class="list-group-item">胸腔檢查</li>
                                                <li class="list-group-item">消化道大腸檢查</li>*@
                                            </ul>
                                        </div>

                                        <div class="card-footer bg-white py-3">
                                            <button type="button" class="btn btn-success btn-sm">確認方案</button>
                                        </div>
                                   
                                </div>
                                <!-- Card -->

                        
                        

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4">

                            <!-- Card -->
                            
                                <div class="card ">

                                    <div class="card-header bg-white py-3">
                                        <p class="text-uppercase small mb-2"><strong>活力青年方案</strong></p>
                                        <h5 class="mb-0">NT$244500</h5>
                                    </div>

                                    <div class="card-body" id="youngplan">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">一般生理檢查</li>
                                            <li class="list-group-item">尿液一般檢查</li>
                                            <li class="list-group-item">血液常規檢查</li>
                                            <li class="list-group-item">腎功能檢查</li>
                                            <li class="list-group-item">肝功能檢查</li>
                                            <li class="list-group-item">新陳代謝檢查</li>
                                            <li class="list-group-item">體脂肪檢查</li>
                                            <li class="list-group-item">腹部超音波</li>
                                            <li class="list-group-item">甲狀腺超音波</li>
                                            <li class="list-group-item" hidden>女性超音波檢查 </li>
                                            <li class="list-group-item">男性超音波檢查 </li>
                                            <li class="list-group-item">眼部檢查</li>
                                            <li class="list-group-item">胸腔檢查</li>
                                            <li class="list-group-item">消化道胃部胰臟檢查</li>
                                            <li class="list-group-item">自律神經壓力檢查</li>

                                        </ul>
                                    </div>

                                    <div class="card-footer bg-white py-3">
                                    <button type="button" class="btn btn-success btn-sm">確認方案</button>
                                    </div>
                                </div>
                           
                            <!-- Card -->

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4">

                            <!-- Card -->
                            
                                <div class="card">
                                    @*性別限制，如果為男性，則無法選擇*@
                                    <div class="card-header bg-white py-3">
                                        <p class="text-uppercase small mb-2"><strong>婦女安心方案</strong></p>
                                        <h5 class="mb-0">NT$25550</h5>
                                    </div>

                                    <div class="card-body" id="femaleplan">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">一般生理檢查</li>
                                            <li class="list-group-item">尿液一般檢查</li>
                                            <li class="list-group-item">血液常規檢查</li>
                                            <li class="list-group-item">腎功能檢查</li>
                                            <li class="list-group-item">肝功能檢查</li>
                                            <li class="list-group-item">新陳代謝檢查</li>
                                            <li class="list-group-item">女性內分泌檢查</li>
                                            <li class="list-group-item">女性癌症檢查</li>
                                            <li class="list-group-item">體脂肪檢查</li>
                                            <li class="list-group-item">腹部超音波</li>
                                            <li class="list-group-item">甲狀腺超音波</li>
                                            <li class="list-group-item">女性超音波檢查</li>
                                            <li class="list-group-item">眼部檢查</li>
                                            <li class="list-group-item">體脂肪檢查</li>
                                            <li class="list-group-item">胸腔檢查</li>
                                            <li class="list-group-item">自律神經壓力檢查</li>


                                        </ul>
                                    </div>
                                    <div class="card-footer bg-white py-3">
                                    <button type="button" class="btn btn-success btn-sm" disabled>確認方案</button>
                                    </div>
                                </div>
                          
                            <!-- Card -->
                        </div>

                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4">
                            <!-- Card -->
                            
                                <div class="card ">
                                    <div class="card-header bg-white py-3">
                                        <p class="text-uppercase small mb-2"><strong>男性保健方案</strong></p>
                                        <h5 class="mb-0">NT$20750</h5>
                                    </div>
                                    <div class="card-body" id="maleplan">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">一般生理檢查</li>
                                            <li class="list-group-item">尿液一般檢查</li>
                                            <li class="list-group-item">血液常規檢查</li>
                                            <li class="list-group-item">腎功能檢查</li>
                                            <li class="list-group-item">肝功能檢查</li>
                                            <li class="list-group-item">新陳代謝檢查</li>
                                            <li class="list-group-item">男性內分泌檢查</li>
                                            <li class="list-group-item">男性癌症檢查</li>
                                            <li class="list-group-item">體脂肪檢查</li>
                                            <li class="list-group-item">腹部超音波</li>
                                            <li class="list-group-item">頸動脈超音波</li>
                                            <li class="list-group-item">男性超音波檢查</li>
                                            <li class="list-group-item">眼部檢查</li>
                                            <li class="list-group-item">胸腔檢查</li>
                                            <li class="list-group-item">自律神經壓力檢查</li>

                                        </ul>
                                    </div>
                                    <div class="card-footer bg-white py-3">
                                    <button type="button" id="malePlanConfirm" class="btn btn-success btn-sm">確認方案</button>
                                    </div>
                                </div>
                            
                            <!-- Card -->
                        </div>
                        <!--Grid column-->
                    </div>
                </section>
                <!--Section: Content-->
            </div>

            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card  border-5  ">
                        <div class="card border-3 ">
                            <div class="card-body ">
                                <div class="overflow-auto">
                                    <h5 class="card-title">類別檢查</h5>
                                    <p class="card-text">22類別檢查</p>
                                  
                                    @*此為類別table*@
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingThree">
                                           
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapseThree">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                類別名稱
                                            </button>
                                        </h2>
                                        <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <table id="PlanList" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>編號</th>
                                                            <th>細項名稱</th>
                                                            <th>價格</th>
                                                            <th>編輯</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>
                                                                細項項目
                                                            </td>
                                                            <td>
                                                                NT$價格
                                                            </td>
                                                            <td><button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>細項項目 </td>
                                                            <td>NT$價格</td>
                                                            <td><button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    @*此為類別table*@
                                    @*此為類別table*@ @*性別限制，如果為男性，則無法選擇*@
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingThree">

                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapseThree">
                                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" disabled>
                                                女性內分泌檢查 (disabled)
                                            </button>
                                           
                                        </h2>
                                        <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <table id="PlanList" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>編號</th>
                                                            <th>細項名稱</th>
                                                            <th>價格</th>
                                                            <th>編輯</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>
                                                                細項項目
                                                            </td>
                                                            <td>
                                                                NT$價格
                                                            </td>
                                                            <td><button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>細項項目 </td>
                                                            <td>NT$價格</td>
                                                            <td><button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    @*此為類別table*@
                        

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">


                    <div class="card  border-5  ">
                        <div class="card  border-3 ">
                            <div class="card-body">
                                <h5 class="card-title">細項檢查item</h5>
                               
                                @*此為項目table*@
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingThree">

                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapseThree">
                                            97種單項
                                        </button>
                                    </h2>
                                    <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <table id="PlanList" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>細項名稱</th>
                                                        <th>價格</th>
                                                        <th>編輯</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
                                                        <td>
                                                            細項項目
                                                        </td>
                                                        <td>
                                                            NT$價格
                                                        </td>
                                                        <td><button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" disabled></td>   @*性別限制，如果為男性，則無法選擇*@
                                                        <td>細項項目 </td>
                                                        <td>NT$價格</td>
                                                        <td><button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                @*此為項目table*@


                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <div>
            <div id="partialview" style="background-color:saddlebrown">
                <p style="background-color:saddlebrown">
                    這是partialview，拿來放加入項目
                @Html.Partial("partialview1")
                </p>

            </div>
        </div>
    </div>
</div>

    @section Scripts{
    <script>       
                   
 
       

    </script>
    
    
    }