
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}


<style>
    .headimg{
        width:30%;
        height: 216px;
        float:left;
    }
    .headsearch{
        height:216px;
        width:70% ;
        float:right;
    }
</style>

<div>
<div style="background-color:blue" class="headimg">
    <img src="~/img/Logo.jpg" />
</div>
<div style="background-color:red" class="headsearch">
    <div style="background-color:green" class="top" ></div>
        <div style="background-color:yellow" class="bot"></div>
</div>
</div>