@model List<COrderWarp>

@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Views/Shared/_Layout_Shopping.cshtml";
}



<div class="container">
    <div class="list-group inDiv" >
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true" id="click">
            @Model[0].OrderId
        </button>

    </div>
</div>
@section Scripts{
     <script>
        document.querySelector("#click").addEventListener('click',out);
       
         function out(event){
            event.target.removeEventListener('click',out);
            let ps  = document.createElement("p");
            ps.innerText="@Model[0].OrderDate.ToString().Split(" ")[0]";
            ps.className="fs-2"
            document.querySelector(".inDiv").appendChild(ps);
            alert("新增成功");
            event.target.addEventListener('click', hide);
         }
         function hide(event){
             event.target.removeEventListener('click',hide);
             let ps =document.querySelector('.inDiv').getElementsByTagName("p");
             for(var i = 0 ; i <ps.length ; i++){
                 ps[i].remove();
             }
             alert("刪除成功");
             event.target.addEventListener('click',out);
         }
         const paylist = document.getElementsByClassName('pay');
         const shiplist = document.getElementsByClassName('ship');
         const statelist = document.getElementsByClassName('state');
         document.addEventListener('DOMContentLoaded',()=>{
            loadpayarray()
            loadshiparray()
            loadstatearray()
         })
         async function loadpayarray(){
            let pay = [];
            let apiurl = "https://localhost:7078/api/OrderPays/arrayBypay";
            for (let i = 0; i < paylist.length; i++) {
                pay.push(parseInt(paylist[i].innerText));
            }
            const response = await fetch(apiurl,{
                body: JSON.stringify(pay),
                headers: {
                    'Content-Type': 'application/json'
                },
                method:"POST",
            })
            const value = await response.json();
            console.log(value);
            for(let i =0; i<paylist.length;i++){
                paylist[i].innerHTML = value.$values[i];
            }
         }
        async function loadshiparray() {
            let ship = [];
            let apiurl = "https://localhost:7078/api/OrderShips/arrayByship";
            for (let i = 0; i < shiplist.length; i++) {
                ship.push(parseInt(shiplist[i].innerText));
            }
            const response = await fetch(apiurl, {
                body: JSON.stringify(ship),
                headers: {
                    'Content-Type': 'application/json'
                },
                method: "POST",
            })
            const value = await response.json();
            console.log(value);
            for (let i = 0; i < shiplist.length; i++) {
                shiplist[i].innerHTML = value.$values[i];
            }
        }
        async function loadstatearray() {
            let state = [];
            let apiurl = "https://localhost:7078/api/OrderStates/arrayBystate";
            for (let i = 0; i < statelist.length; i++) {
                state.push(parseInt(statelist[i].innerText));
            }
            const response = await fetch(apiurl, {
                body: JSON.stringify(state),
                headers: {
                    'Content-Type': 'application/json'
                },
                method: "POST",
            })
            const value = await response.json();
            console.log(value);
            for (let i = 0; i < statelist.length; i++) {
                statelist[i].innerHTML = value.$values[i];
            }
        } 
     </script>
}