@model List<MedSysProject.Models.CProductWarp>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout_Shopping.cshtml";
}

<div class="container " style="height:3000px;">
    <img src="@Url.Content("~/img/Login2.png")" style="width:100%"/>
    <div>
    <div class="fs-1">最新產品</div>
    <hr class="bi-hr"/>
    <div class="row  align-items" style="height:360px">
        <div class="col mx-2 my-2 border p-5">
            <div class="h-50"><img src="~/img/New.jpg" style="width:200px; height:100px"/></div>
            <div class="h-50">
                <span class="fs-2">
                    產品A產品A產品A產品A
                </span><br />
                <span class="fs-2 text-danger">$650</span>
            </div>
        </div>
        <div class="col mx-2 my-2 border p-5">
            <div class="h-50"><img src="~/img/New.jpg" style="width:200px; height:100px" /></div>
            <div class="h-50">
                <span class="fs-2">
                    產品A產品A產品A產品A
                </span><br />
                <span class="fs-2 text-danger">$650</span>
            </div>
        </div>
        <div class="col mx-2 my-2 border p-5">
            <div class="h-50"><img src="~/img/New.jpg" style="width:200px; height:100px" /></div>
            <div class="h-50">
                <span class="fs-2">
                    產品A產品A產品A產品A
                </span><br />
                <span class="fs-2 text-danger">$650</span>
            </div>
        </div>
        <div class="col mx-2 my-2 border p-5">
            <div class="h-50"><img src="~/img/New.jpg" style="width:200px; height:100px" /></div>
            <div class="h-50">
                <span class="fs-2">
                    產品A產品A產品A產品A
                </span><br />
                <span class="fs-2 text-danger">$650</span>
            </div>
        </div>
        
    </div>
    </div>
    <img src="~/img/Member.jpg" style="width:1296px"/>
    <div>
        <div class="fs-1">暢銷產品</div>
        <hr class="bi-hr" />
        <div class="row  align-items" style="height:360px">
            <div class="col mx-2 my-2 border p-5">
                <div class="h-50"><img src="~/img/New.jpg" style="width:200px; height:100px" /></div>
                <div class="h-50">
                    <span class="fs-2">
                        產品A產品A產品A產品A
                    </span><br />
                    <span class="fs-2 text-danger">$650</span>
                </div>
            </div>
            <div class="col mx-2 my-2 border p-5">
                <div class="h-50"><img src="~/img/New.jpg" style="width:200px; height:100px" /></div>
                <div class="h-50">
                    <span class="fs-2">
                        產品A產品A產品A產品A
                    </span><br />
                    <span class="fs-2 text-danger">$650</span>
                </div>
            </div>
            <div class="col mx-2 my-2 border p-5">
                <div class="h-50"><img src="~/img/New.jpg" style="width:200px; height:100px" /></div>
                <div class="h-50">
                    <span class="fs-2">
                        產品A產品A產品A產品A
                    </span><br />
                    <span class="fs-2 text-danger">$650</span>
                </div>
            </div>
            <div class="col mx-2 my-2 border p-5">
                <div class="h-50"><img src="~/img/New.jpg" style="width:200px; height:100px" /></div>
                <div class="h-50">
                    <span class="fs-2">
                        產品A產品A產品A產品A
                    </span><br />
                    <span class="fs-2 text-danger">$650</span>
                </div>
            </div>

        </div>
    </div>
</div>
