@model MedSysProject.Models.MemberWarp

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}

@section LinkStyle {
    <link href="~/css/AccoutRegister.css" rel="stylesheet" />
}
<div class="RegisterDiv">

    <div class="row from">
        <div class="col-md-4">
            <form asp-action="ForgetPassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <h1>忘記密碼</h1>

                <p>請輸入您的電子信箱，我們將會寄送密碼重設連結給您</p>

                <div class="form-group">
                    <label asp-for="MemberEmail" class="control-label"></label>
                    <div style="display:inline" id="alertEmail"></div>
                    <hr class="border border-danger border-2 opacity-50">
                    <input asp-for="MemberEmail" class="form-control" id="inputEmail" />
                    <span asp-validation-for="MemberEmail" class="text-danger">@Html.Raw(ViewBag.Msg)</span>
                </div>

                <div class="form-group">
                    <input type="submit" value="送出" class="btn btn-success" />
                    <a class="btn btn-dark" id="demo" onclick="forgetdemo()">DEMO</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function forgetdemo() {
            document.getElementById("inputEmail").value = "tpcu40702140@gmail.com";
        }
    </script>
}
