@model List<MedSysProject.Models.CProductWarp>
@{
    ViewData["Title"] = "MemberCenter";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}

<style>
    .color {
        background-color: antiquewhite;
    }
</style>

<div class="container " style="background-color:#F2F9F8; height:1200px">
    <div style="height:350px; background-color:antiquewhite;"><img src="@Url.Content("~/img/Member.jpg")" class="img-fluid" alt="..." style="width:1296px; height:350px"></div>
    <div style="background-color:azure;height:200px" class="my-4">
        <div class="row mx-0" style="height:200px;">
            <div class="card col border-secondary mx-1" style="width: 18rem;">
                <div class="card-header">
                    訂單問題
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a asp-action="OrderList" asp-controller="Shopping">查看訂單</a></li>
                    <li class="list-group-item"><a asp-action="ReturnProduct">退款/退訂查詢</a></li>
                    <li class="list-group-item"><a asp-action="refund">換貨查詢</a></li>
                    <li class="list-group-item"><a asp-action="TrackingList">買過的產品清單</a></li>
                </ul>
            </div>
            <div class="card col border-secondary mx-1" style="width: 18rem;">
                <div class="card-header">
                    健檢中心
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a asp-action="xxx" asp-controller="Home">方案比較</a></li>
                    <li class="list-group-item"><a asp-action="Report" asp-controller="Home">查看健檢報告</a></li>
                    <li class="list-group-item"><a asp-action="Reserve" asp-controller="Home">線上預約</a></li>
                </ul>
            </div>
            <div class="card col border-secondary" style="width: 18rem;">
                <div class="card-header">
                    會員資料
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a asp-action="MemberState">會員詳細資料</a></li>
                    <li class="list-group-item"><a asp-action="ResetPasswordLogined">修改會員密碼</a></li>
                    <li class="list-group-item"><a asp-action="UpdataMember">修改會員資料</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="background-color:azure;height:200px">
        <div class="row mx-0" style="height:200px;">
            <div class="card col mx-1 border-secondary" style="width: 18rem;">
                <div class="card-header">
                    常見問題
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a asp-action="MenberQA">常見問題Q&A</a></li>
                </ul>
            </div>
            <div class="card col mx-1 border-secondary" style="width: 18rem;">
                <div class="card-header">
                    查看優惠券
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a asp-action="HPList">查看目前優惠券</a></li>
                    <li class="list-group-item"><a asp-action="HPList">目前可以領取的優惠券</a></li>
                    <li class="list-group-item"><a asp-action="HPList">使用優惠券的歷史紀錄</a></li>
                </ul>
            </div>
            <div class="card col border-secondary" style="width: 18rem;">
                <div class="card-header">
                    會員資料
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a asp-action="MemberState">會員詳細資料</a></li>
                    <li class="list-group-item"><a asp-action="ResetPasswordLogined">修改會員密碼</a></li>
                    <li class="list-group-item"><a asp-action="UpdataMember">修改會員資料</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-3" style="background-color:azure;height:200px">
        <div class="col border-info">
            <div class="card">
                <div class="card-header">
                    你追蹤的產品
                </div>
                <div class="card-body">
                    
                    <ol class="list-group list-group-numbered mb-3">
                        @{
                            int count = 0;
                            foreach (var item in Model)
                            {
                                count++;
                                if (count > 5)
                                {
                                    break;
                                }
                                <li class="fs-5 list-group-item"><a asp-action="selectProduct" asp-controller="Shopping" asp-route-id="@item.ProductId">@item.ProductName</a></li>
                            }
                        }
                    </ol>
                    <a asp-action="TrackingList" class="btn btn-primary">查看你的追蹤清單</a>
                </div>
            </div>

        </div>
        <div class="col border-info">
            <div class="card">
                <div class="card-header">
                    最新活動
                </div>
                <div class="card-body">
                    <h5 class="card-title">最新活動:</h5>
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                    <a href="#" class="btn btn-primary">查看更多活動</a>
                </div>
            </div>

        </div>
    </div>


</div>

@{
    var ResetPasswordSuccess = TempData["alertResetPwdSuccess"] as string;
}

<script>
    @Html.Raw(ResetPasswordSuccess)
</script>