@model MedSysProject.Models.MemberWarp

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}

@section LinkStyle{
    <link href="~/css/AccoutRegister.css" rel="stylesheet"/>
}

<div class="RegisterDiv">


<div class="row from" >
    <div class="col-md-4">
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MemberName" class="control-label"></label>
                    <div style="display:inline" id="alertName"></div>
                    <hr class="border border-danger border-2 opacity-50">
                    <input asp-for="MemberName" class="form-control" id="inputName" />
                    <span asp-validation-for="MemberName" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="MemberEmail" class="control-label"></label>
                    <hr class="border border-danger border-2 opacity-50">
                <input asp-for="MemberEmail" class="form-control" />
                <span asp-validation-for="MemberEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberPassword" class="control-label"></label>
                    <hr class="border border-danger border-2 opacity-50">
                <input asp-for="MemberPassword" class="form-control" />
                <span asp-validation-for="MemberPassword" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="MemberPhone" class="control-label"></label>
                    <hr class="border border-danger border-2 opacity-50">
                    <input asp-for="MemberPhone" class="form-control" />
                    <span asp-validation-for="MemberPhone" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>

 @section Scripts{
     <script>
        const alertName = document.querySelector('#alertName');
        const inputName = document.querySelector('#inputName');

        inputName.addEventListener('blur',()=>{
            checkName();
        })

        async function checkName(){
            const response = await fetch(`@Url.Content("~/AccoutApi/checkName")?inName=${inputName.value}`)
            const data = await response.text();
            console.log(data);
            let s = "";
            if(data == '有'){
                s = "<label calss='control-HTMLLabelElement text-danger'>此帳號已經有人使用</label><img src='@Url.Content("~/img/icon/X.png")'/>";
                console.log(s);
                document.querySelector('#alertName').innerHTML = "<label calss='control-HTMLLabelElement text-danger'>此帳號已經有人使用</label><img src='@Url.Content("~/img/icon/X.png")'/>";
            }else if
            (data=="無"){
                
            //    document.querySelector('#alertName').innerHTML = "<label  class="control-label text-danger" > 此帳號目前無人使用 < /label> <img src='@Url.Content("~/img/icon/check.png")' / >";
            }
        }

     </script>
 }