@model MedSysProject.Models.MemberWarp

@{
    ViewData["Title"] = "ResetPasswordLogined";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}

@section LinkStyle {
    <link href="~/css/AccoutRegister.css" rel="stylesheet" />
}

@{
    var ResetPwdFail = TempData["alertResetPwdFail"] as string;
}

<div class="ResetPasswordLoginedDiv">


    <div class="row from">
        <div class="col-md-4">
            <form asp-action="ResetPasswordLogined" method="post">
                <input type="hidden" name="MemberId" value=@Model.MemberId />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <h1>修改密碼</h1>

                <p>請輸入原密碼與新密碼</p>

                @Html.Raw(ResetPwdFail)

                <div class="form-group">
                    <label for="oldPwd" class="control-label">原密碼</label>
                    <hr class="border border-danger border-2 opacity-50">
                    <input type="Password" id="newPwd" class="form-control" name="oldPwd" required />
                    <span asp-validation-for="MemberPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="newPwd" class="control-label">新密碼</label>
                    <hr class="border border-danger border-2 opacity-50">
                    <input type="Password" id="newPwd" class="form-control" name="newPwd" required />
                    <span asp-validation-for="MemberPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="newPwdChk" class="control-label">確認密碼</label>
                    <hr class="border border-danger border-2 opacity-50">
                    <input type="Password" id="newPwdChk" class="form-control" name="newPwdChk" required />
                    <span asp-validation-for="MemberPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="送出" class="btn btn-success" />
                    <a class="btn btn-dark" id="demopwderror" onclick="resetloginederrordemo()">DEMO原密碼錯誤</a>
                    <a class="btn btn-dark" id="demo" onclick="resetlogineddemo()">DEMO</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function resetloginederrordemo() {
            document.getElementById("oldPwd").value = "aaaaa";
            document.getElementById("newPwd").value = "Test";
            document.getElementById("newPwdChk").value = "Test";
        }

        function resetlogineddemo() {
            document.getElementById("oldPwd").value = "Test";
            document.getElementById("newPwd").value = "Test";
            document.getElementById("newPwdChk").value = "Test";
        }
    </script>
}