@model MedSysProject.Models.MemberWarp

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}

@section LinkStyle {
    <link href="~/css/AccoutRegister.css" rel="stylesheet" />
}

<div class="ResetPasswordDiv">


    <div class="row from">
        <div class="col-md-4">
            <form asp-action="ResetPassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <h1>重設密碼</h1>

                <p>請輸入您的新密碼</p>


                <div class="form-group">
                    <label for="newPwd" class="control-label">新密碼</label>
                    <hr class="border border-danger border-2 opacity-50">
                    <input id="newPwd" class="form-control" name="newPwd" />
                    <span asp-validation-for="MemberPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="newPwdChk" class="control-label">確認密碼</label>
                    <hr class="border border-danger border-2 opacity-50">
                    <input id="newPwdChk" class="form-control" name="newPwdChk" />
                    <span asp-validation-for="MemberPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="送出" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>