@model MemberWarp
@{
    ViewData["Title"] = "VerifyemailPassword";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}

<div class="card container">
    <form method="post">
    <div class="card-header" style="height:200px;" id="InDiv">
        請按下這個按鈕 到驗證的信箱收信改變密碼 <input type="button" class="btn btn-primary" id="click"  value="按這裡"/>
    </div>
    <div class="card-body">
        <h5 class="card-title">這是你註冊時用的Email @Model.MemberEmail</h5>
        </div>
        <input type="hidden" value="@Model.MemberId" name="MemberId" />
    </form>
</div>

@section Scripts{
    <script>
        const click = document.querySelector('#click');
        const InDiv = document.querySelector('#InDiv');
        click.addEventListener('click',()=>{
            let s = `<span>輸入新密碼:</span><input type="text" name="MemberPassword"/><input type=submit value="修改並送出"/>`
            InDiv.innerHTML=s;
        })
    </script>
}