@using System.Text.Json;


@{
    ViewData["Title"] = "Verifyemail";
    Layout = "~/Views/Shared/_Layout_Fore.cshtml";
}


@section LinkStyle {
    <link rel="stylesheet" href="~/css/AccoutVerifyemail.css" />
}

@{
    string json = Context.Session.GetString(CDictionary.SK_MEMBER_LOGIN);
    MemberWarp m = JsonSerializer.Deserialize<MemberWarp>(json);
}
<div class="card mainVerify">
    <div class="card-header">
        恭喜你加入GO健康會員
    </div>
    <div class="card-body" >
        <h5 class="card-title">這是你註冊時用的Email</h5>
        <p class="card-text">@m.MemberEmail</p>
        @Html.ActionLink("點擊這裡到電子郵件取信","UpdataMember","Accout",new{id =m.MemberId},new{Class="btn btn-primary"})
    </div>
</div>
