@model MedSysProject.Models.Blog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestTinyMCE</title>
</head>
<body>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="previewImage">
            <img id="imagePreview" src="#" alt="preview" style="display:none; max-width:500px; max-height:250px;">
        </div>
        <form asp-action="TestTinyMCE">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="BlogId" class="control-label"></label>
                <input asp-for="BlogId" class="form-control" />
                <span asp-validation-for="BlogId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            @*文章類別下拉式選單，先寫死以後要新增文章類別再說*@
            <div>
                <label asp-for="ArticleClassId" class="control-label"></label>
                <select asp-for="ArticleClassId" class="form-control">
                        <option value="1">活動快訊</option>
                        <option value="2">醫療新知</option>
                        <option value="3">名人分享會</option>
                        <option value="4">媒體報導</option>
                        <option value="5">企業責任</option>
                </select>
                
            </div>
            <div class="form-group">
                <label asp-for="Views" class="control-label"></label>
                <input asp-for="Views" class="form-control" />
                <span asp-validation-for="Views" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogImage" class="control-label"></label>
                <input asp-for="BlogImage" class="form-control" type="file" onchange="previewImage(event)" />
                <span asp-validation-for="BlogImage" class="text-danger"></span>
            </div>
            @*撰寫文章的作者員工編號，先寫死給一號*@
            <div class="form-group">
                @* <label asp-for="EmployeeId" class="control-label"></label> *@
                <input asp-for="EmployeeId" class="form-control" value="1" type="hidden"/>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
        function previewImage(event) {
            const input = event.target;
            if (input.files && input.files[0]) {
                const reader = new FileReader(); // 創建FileReader物件
                reader.onload = function (e) { // 正確拼寫onload
                    const imagePreview = document.getElementById('imagePreview');
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                };
                reader.readAsDataURL(input.files[0]);
            }
        };
    </script>

</body>
</html>
