:root {
    scroll-behavior:smooth;
}
body {
    color:rgba(88,88,88,1);
}
a {
    color:var(--color-links);
    text-decoration:none;
}
a:hover {
    color:red;/*先用一個奇葩顏色，到時候改*/
    text-decoration:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    color:green;/*確認樣式有修改到，到時可以刪掉*/
}

/*--------------------------------------------------------------
# 回到最上面按鈕(封印)
--------------------------------------------------------------*/
/*.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}*/

/*Header*/
.header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: #f2f2f2;
}

.sticked {
    height:70px;
}

/*搜尋表單*/
.search-form-wrap {
    /*所以，當你使用 position: absolute; 來定位一個元素時，為了使它的位置參考準確，
        一般情況下建議將其直接父元素設置為 position: relative; 或其他已定位屬性（
        例如 position: absolute;、position: fixed; 或 position: sticky;）。*/
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    transition: all 0.3s ease;
    visibility:visible;
    opacity: 1;
}

    .search-form-wrap .search-form {
        position:relative;

    }

        .search-form-wrap .search-form .form-control {
            /*按下放大鏡按鈕按下要出現*/
            width: 300px;
            border: none;
            box-shadow: 0 15px 20px -10px rgba(var(--color-black-rgb), 0.1);
            padding-left:40px;
            padding-right:40px;
        }
