<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Amoeba Bootstrap Template - Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Lato:400,300,700,900" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/forevendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/forevendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/forevendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/forevendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/forestyle.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Amoeba
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
   <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="index.html">GO健康</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
                <!-- =======最上方欄位 ======= -->
        <ul>
                    <li><a class="nav-link scrollto active" href="#hero">首頁</a></li>
                    <li><a class="nav-link scrollto" href="#about">關於GO健康的成立</a></li>
                    <li><a class="nav-link scrollto" href="#services">GO健康與您</a></li>
                    <li class="dropdown">
                        <a href="#"><span>檢查專案</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown">
                                <a href="#"><span>線上預約</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">PLAN 1</a></li>
                                    <li><a href="#">PLAN 2</a></li>
                                    <li><a href="#">PLAN 3</a></li>
                                    <li><a href="#">PLAN 4</a></li>
                                    <li><a href="#">PLAN 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">啥 2</a></li>
                            <li><a href="#">啥 3</a></li>
                            <li><a href="#">啥 4</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"><span>好物推薦</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#portfolio">健康部落格</a></li>
                    <li><a class="nav-link scrollto" href="#team">GO健康團隊</a></li>
                    <li><a class="nav-link scrollto" href="#contact">意見反映與交通資訊</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End #header -->

    
    @RenderBody()
    <!-- ======= Footer ======= -->
    <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Amoeba</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End #footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/forevendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/forevendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/forevendor/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/forevendor/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/forevendor/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/foremain.js"></script>

</body>

</html>