@using System.Text.Json;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>GO健康</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Lato:400,300,700,900" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/forevendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/forevendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/forevendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/forevendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/forestyle.css" rel="stylesheet">

    <!-- google -->

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    @*     <script src="https://apis.google.com/js/api:client.js"></script>
    <script>
    var googleUser = {};
    var startApp = function () {
    gapi.load('auth2', function () {
    // Retrieve the singleton for the GoogleAuth library and set up the client.
    auth2 = gapi.auth2.init({
    client_id: '641130316919-j10tul625dc2mnj0598a81a9btetk9l7.apps.googleusercontent.com',
    cookiepolicy: 'single_host_origin',
    // Request scopes in addition to 'profile' and 'email'
    //scope: 'additional_scope'
    });
    attachSignin(document.getElementById('btnGoogleLogin'));
    });
    };

    function attachSignin(element) {
    console.log(element.id);
    auth2.attachClickHandler(element, {},
    function (googleUser) {

    }, function (error) {
    console.error(JSON.stringify(error, undefined, 2));
    });
    }
    </script> *@

    <!-- end Google -->


    <style>
        .mt-4 {
            margin-top: 10.5em !important;
        }


        .title {
            position: relative;
            text-align: center;
            overflow: hidden;
            font-size: 14px;
            color: #999;
        }

            .title::before, .title::after {
                content: '';
                display: inline-block;
                width: 100%;
                height: 1px;
                position: absolute;
                background: #ccc;
                top: 50%;
            }

            .title::before {
                margin-left: -10px;
                transform: translateX(-100%);
            }

            .title::after {
                margin-left: 10px;
            }

        .g_id_signin {
            display: flex;
            justify-content: center;
        }

        .fb-login-button {
            display: flex;
            justify-content: center;
        }

    </style>

    <!-- =======================================================
    * Template Name: Amoeba
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    @await RenderSectionAsync("LinkStyle", required: false)
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="@Url.Content("~/js-Account/LayoutFore.js")"></script>


</head>

<body style="background-color:#F2F9F8">
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo me-auto">
                <h1><a href="~/Home/Index"><img src="~/img/gohealth-logo.png" alt="" class="img-fluid"> GO健康</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>



        </div>
    </header><!-- End #header -->
    @* <main id="main"> *@
    @RenderBody()
    @*     <!-- ======= Footer ======= -->
    <footer class="fixed-bottom" id="footer">
    <div class="container">
    <div class="copyright">
    <strong><span>GO健康 版權所有</span></strong>
    </div>
    <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/ -->
    <a href="~/">GO健康</a>
    </div>
    </div>
    </footer><!-- End #footer --> *@
    @* </main> *@
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    <script src="~/forevendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/forevendor/glightbox/js/glightbox.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="~/forevendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/forevendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/forevendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="~/js/foremain.js"></script>

    <script>
        //當按下F2鍵 監聽事件
        document.addEventListener('keydown', function (event) {
            //當按下[鍵 監聽事件
            if (event.keyCode == 113) {
                //取消預設行為
                event.preventDefault();
                //呼叫登入按鈕
                window.location.href = "@Url.Content("~/Admin")";
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>