@{
    ViewData["Title"] = "Blog";
    Layout = "_Layout_Admin2";
}

@* 這邊是確保左側邊欄的目前區域標亮 *@
@* ---------------------------------------------- *@
<script>
    const Blog = document.getElementById("li-Blog");
    const Index = document.getElementById("li-index");
    Blog.className = "nav-item active";
    Index.className = "nav-item";
</script>
@* ------------------------------------- *@

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">部落格管理</h6>
    </div>
    <div class="card-body">
        <></>
        @* 內容從這裡開始 *@

        </div>
        </div>