@{
    ViewData["Title"] = "數據分析";
    Layout = "_Layout_Admin2";
}

@* 這邊是確保左側邊欄的目前區域標亮 *@
@* ---------------------------------------------- *@
<script>
    const Data = document.getElementById("li-Data");
    const Index = document.getElementById("li-index");
    Data.className = "nav-item active";
    Index.className = "nav-item";
</script>
@* ------------------------------------- *@

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">數據分析</h6>
    </div>
    <div class="card-body">

        @* 內容從這裡開始 *@

    </div>
</div>