@model MedSysProject.Models.Product

@{
    ViewData["Title"] = "Edit";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>產品管理</title>
    <style>
        body {
            background-color: #DFFFDF;
        }

        .table img {
            background-color: transparent;
            object-fit: cover;
        }

        .table th {
            white-space: nowrap; /* 避免文字換行 */
            overflow: hidden;
            text-overflow: ellipsis; /* 在溢出時顯示省略號 */
        }

        h1 {
            font-size: 3rem; /* 設定字體大小，可根據需要調整 */
            font-weight: bold; /* 使用粗體字型 */
            color: #333; /* 設定文字顏色，可根據需要調整 */
            background: linear-gradient(45deg, #3498db, #2ecc71); /* 使用漸層背景色，可根據需要調整 */
            -webkit-background-clip: text; /* 將文字內容限制在漸層範圍內 */
            color: transparent; /* 隱藏文字顏色，以顯示漸層效果 */
        }
    </style>
</head>
<body>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var fileInput = document.getElementById('formFile');
            if (fileInput) {
                // 在文件選擇時觸發事件
                fileInput.addEventListener('change', function (e) {
                    var fileInput = e.target;
                    var file = fileInput.files[0];

                    // 檢查是否有選擇檔案
                    if (file) {
                        // 使用 FileReader 來讀取圖片內容
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            // 更新預覽圖片的 src
                            document.getElementById('previewImage').src = e.target.result;
                        };

                        // 讀取圖片內容
                        reader.readAsDataURL(file);
                    }
                });
            } else {
                console.error('找不到ID為 formFile 的文件輸入元素。');
            }
        });
    </script>

    <div class="container mt-5">
        

<hr />
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
                <h1>修改產品作業</h1>
                <h4>請輸入欲修改的產品資訊</h4>
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="ProductId" name="WrappedProductId" asp-for="ProductId" value="@Model.ProductId" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">產品名稱</label>
                <input asp-for="ProductName" class="form-control" name="WrappedProductName" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label">單價</label>
                <input asp-for="UnitPrice" class="form-control" name="WrappedUnitPrice" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="License" class="control-label">核可證號</label>
                <input asp-for="License" class="form-control" name="WrappedLicense" />
                <span asp-validation-for="License" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient" class="control-label">有效成分</label>
                <input asp-for="Ingredient" class="form-control" name="WrappedIngredient" />
                <span asp-validation-for="Ingredient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" name="WrappedDescription" rows="8"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

           





            <div class="form-group">
                <label asp-for="UnitsInStock" class="control-label">庫存</label>
                <input asp-for="UnitsInStock" class="form-control" name="WrappedUnitsInStock" />
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="inputDiscontinued" class="form-label">上架狀態</label>
                <select class="form-control" id="inputDiscontinued" name="WrappedDiscontinued">
                    <option value="true" selected="@(Model?.Discontinued == true)">上架中</option>
                    <option value="false" selected="@(Model?.Discontinued == false)">已下架</option>
                </select>
            </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">產品圖片上傳</label>
                        <input class="form-control" type="file" id="formFile" name="formFile">
                    </div>

                    <div id="imagePreviewContainer" class="mb-3">
                        <label for="inputDescription" class="form-label">圖片預覽</label>
                        <img id="previewImage" src="#"  style="max-width: 100%; max-height: 150px;">
                    </div>
            <div class="form-group">
                <input type="submit" value="修改並送出" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
            <a asp-action="Admin" asp-action="product">回到產品管理一覽表</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
    </div>

    <!-- 引入相應的JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>