
@{
    ViewData["Title"] = "員工管理";
    Layout = "_Layout_Admin2";
}

@* 這邊是確保左側邊欄的目前區域標亮 *@
@* ---------------------------------------------- *@
<script>
    const EmpClass = document.getElementById("li-EmpClass");
    const Index = document.getElementById("li-index");
    EmpClass.className = "nav-item active";
    Index.className = "nav-item";
</script>
@* ------------------------------------- *@

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">員工類別管理</h6>
    </div>
    <div class="card-body">


        @* 內容從這裡開始 *@


    </div>
</div>