
@{
    ViewData["Title"] = "健檢報告";
    Layout = "_Layout_Admin2";
}

@* 這邊是確保左側邊欄的目前區域標亮 *@
@* ---------------------------------------------- *@
<script>
    const Report = document.getElementById("li-Report");
    const Index = document.getElementById("li-index");
    Report.className = "nav-item active";
    Index.className = "nav-item";
</script>
@* ------------------------------------- *@

@{
}
@*boostrap*@

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
@*datatable*@
<link href="https://cdn.datatables.net/v/bs4/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/datatables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script><script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/bs4/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/datatables.min.js"></script>


@*boostrap-table*@
<link href="https://cdn.jsdelivr.net/npm/jquery-treegrid@0.3.0/css/jquery.treegrid.css" rel="stylesheet">
<link href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/jquery-treegrid@0.3.0/js/jquery.treegrid.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>

<link href="https://cdn.datatables.net/v/dt/dt-1.13.8/b-2.4.2/b-html5-2.4.2/datatables.min.css" rel="stylesheet">

<script src="https://cdn.datatables.net/v/dt/dt-1.13.8/b-2.4.2/b-html5-2.4.2/datatables.min.js"></script>

<style>
  
</style>
<!-- Button trigger modal -->
<!-- Button trigger modal -->
<meta charset="UTF-8">
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">會員管理</h6>
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" hidden>
    Launch static backdrop modal
</button>
        <button id="e04" hidden>123</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">我是內容</h1>
                        <button type="button" class="btn btn-danger" id="alledit">一鍵XX</button>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" @*aria-label="Close"*@>×</button>
            </div>
            <div class="modal-body">
               @* <button id="TB" hidden>test</button>*@
                        <table id="tableD" class="table table-bordered table-hover" width="100%" cellspacing="0">
                   <thead class="thead-dark">
                        <tr>
                            <th>序</th>
                            <th >健檢細項ID</th>
                            <th>健檢報告ID</th>
                            <th>項目名稱</th>
                            <th>檢查結果</th>
                            <th>修改</th>
                            <th>動作</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

        <table id="tableM" class="table table-bordered table-hover" width="100%" cellspacing="0">
    <thead class="thead-dark">
        <tr>
            <th>序</th>
            <th>會員ID</th>
            <th>會員姓名</th>
          

        </tr>
    </thead>
</table>

   

<button id="dd" hidden>123</button>


        <div id="toolbar" hidden>
            <button id="button" class="btn btn-secondary" hidden>refreshOptions</button>
</div>
<table id="table" hidden
       @*data-toggle="table"
       data-height="460"
       data-ajax="ajaxRequest"
       data-search="true"
       data-side-pagination="server"
       data-pagination="true"
       data-show-refresh="true"*@>
   @* <thead>
        <tr>
            <th data-field="reportDetailId">reportDetailId</th>
            <th data-field="reportId">reportId</th>
            <th data-field="itemId">itemId</th>
            <th data-field="result">itemId</th>
        </tr>
    </thead>*@
</table>
    </div>
</div>

<form method="post" id="form" hidden>
<input type="text" value="" id="rpdi" name="reportdetailid"/>
<input type="text" value="" id="rpi" name="reportid" />
<input type="text" value="" id="itemname" name="itemname" />
<input type="text" value="" id="result" name="result" />
<input type="text" value="" id="editinput" name="editinput" />
</form>
<script>
   //var edit
   //edit();
     //////////edit///////////
    //var tedit = document.getElementById("TB")
    // tedit.addEventListener("click",(e)=>{
         
    //    editt()
    //    alert("0")
    // })

    function checkk() 
    {
        var rs = document.getElementById("result")
        var text = document.getElementById("text")
     alert(rs.value)
        alert(text.value)

    }

    //class onclick修改
   function editt()
   {
        var ta = event.target.closest("tr")
        var textvalue = ta.getElementsByTagName("input")[0].value
        var tv = document.querySelectorAll("#text")
        
        var rpdi = document.getElementById("rpdi")
        var rpi = document.getElementById("rpi")
        var iname = document.getElementById("itemname")
        var rs = document.getElementById("result")
       
        if (textvalue.value == "") {
            alert("請輸入數值");
        return
        }
   var all = tableD.querySelectorAll("tr")
        //alert(all[1].childNodes[1].innerText)
   //console.log()

        var textvalue = document.getElementById("text").value//
       
        var reportdetailid = ta.childNodes[1].innerText;
        var reportid = ta.childNodes[2].innerText;
        var itemname = ta.childNodes[3].innerText;
        var result = ta.childNodes[4].innerText;
        var txt = ta.getElementsByTagName("input")
        rpdi.value = reportdetailid
        rpi.value = reportid
        iname.value = itemname
        rs.value = txt[0].value







        //{
        //  List<ReportDetail> lrd = new List<ReportDetail>();
        //}
   //for(var i=1;i<all.length;i++)
      //{
        //var wtf = new Array();
        //var reportdetailid = all[1].childNodes[1].innerText;
        //var reportid = all[1].childNodes[2].innerText;
        //var itemname = all[1].childNodes[3].innerText;
        //var result = all[1].childNodes[4].innerText;
        //var txt = all[1].childNodes[5].innerText

      
      //}
        //{
        //    ReportDetail rd = new ReportDetail();
        //}
        
        ////rd.ReportDetailId == reportdetailid;
        ////rd.ReportId == reportid;
        //rd.Result = textvalue;
        //rd.ReportDetailId == reportdetailid;
        //{
        //    lrd.Add(rd);
        //}
        
          //{
          //    string json = System.Text.Json.JsonSerializer.Serialize(rd);
          //}
        //editinput.value = lrd
        

        send();
        ttt.ajax.reload();
   }
   
   ///////一鍵///////
   var alledit = document.querySelector("#alledit")
   
   alledit.addEventListener("click",()=>{
        var allvalue = tableD.querySelectorAll("tr")
        var txt = tableD.querySelectorAll("#text")
        var ttd = tableD.querySelectorAll(".reportdetailID")
        console.log(allvalue[1].childNodes[1].innerText)
        console.log(txt[0].value)
        var detailid = new Array();
        var result = new Array()
        
        for(var i = 0; i<=txt.length-1;i++)
        {
        
            result.push(txt[i].value)
        }

        for (var i = 1; i <= ttd.length-1; i++) {

            detailid.push(ttd[i].innerText)
        }

        editAll(detailid, result)
        ttt.ajax.reload();

   })
    async function editAll(detailid, result) {
        let urlall = `/Transaction/editAll`

        let form = new FormData();
        form.append("detailid", detailid);
        form.append("result", result)

        const response = await fetch(urlall, {
            method: "POST",
            body: form,
        }).then(alert("已修改"));

        console.log(response.status);
        console.log(response.statusText);
    }


   ///////送出/////////
    async function send(event) {
        //todo input>form
        let input = document.querySelector("#form");
        let form = new FormData(input);


        let url2 = `/Transaction/editreport`;
        const response = await fetch(url2, {
            body: form,
            method: "POST",

        }).then(alert("已修改"));
        const data = await response.text();
        //alert(`data${data}`);
        //window.location.href = ('@Url.Content("~/Home/xxx")');
    }
    //test
    //$table.bootstrapTable('refresh')
    var myModal = document.getElementById('e04');
    var fku = new bootstrap.Modal(document.getElementById('staticBackdrop'));


    myModal.addEventListener("click",(e)=>{
        edit()
    fku.show();
    })
    
    //var errorModal = document.getElementById('e04'); //Modal的id
    //console.log(errorModal)
    //var modal = Modal.getOrCreateInstance(errorModal); //創建或取得modal實例
    //myModal.show();

    var tableM = document.querySelector("#tableM")
    var tableD = document.querySelector("#tableD")
    var btn = document.querySelector("#btn")
    ////不報錯///
    //$.fn.dataTable.ext.errMode = 'throw';
    /////////////

    //內表////////////dd
    var count2 = 0
    var ttt = $('#tableD').DataTable({
        //設定語言
         dom: 'Bfrtip',
        //scrollY: true,
        //scroller: {
        //    rowHeight: 100
        //},
        buttons: [
            'copy', 'excel', 'pdf'
        ],
        "language": {
            "processing": "處理中...",
            "loadingRecords": "載入中...",
            "lengthMenu": "每頁 _MENU_ 筆資料",
            "zeroRecords": "沒有符合的資料",
            "info": "顯示第 _START_ 至 _END_ 筆資料，共 _TOTAL_ 筆",
            "infoEmpty": "顯示第 0 至 0 筆資料，共 0 位",
            "infoFiltered": "(從 _MAX_ 項結果中過濾)",
            "infoPostFix": "",
            "search": "搜尋:",
            "paginate": {
                "first": "第一頁",
                "previous": "上一頁",
                "next": "下一頁",
                "last": "最後一頁"
            },
            "aria": {
                "sortAscending": ": 升冪排列",
                "sortDescending": ": 降冪排列"
            }
        },
       
        "autoWidth": false,
        "ajax": {
            "url": "https://localhost:7203/admin/test1/",
            //默认为data,这里定义为空，则只需要传不带属性的数据
            "dataSrc": ""
        },
        //給table內自定義按鈕
        "columnDefs": [
            {
                "className": "dt-center align-middle",
                "targets": "_all"
            },
            {

                // targets用於指定操作的列，從第0列開始，-1爲最後一列，這裏第六列
                // return後邊是我們希望在指定列填入的按鈕代碼
                "targets": -1,
                "render": function (data, type, full, meta) {
                    return (
                    `
                            <a onclick = "editt()" class="btn btn-primary" data-toggle="modal">
                        <i class="fas fa-edit"></i>
                        </a>
                       
                    ` 
                    )
                }   
                
            },
            //<a class="btn btn-danger" data-toggle="modal" data-target="#delete">
            // <i class="fas fa-trash-alt"></i>
            //  </a>
            //       <a class="btn btn-warning" onclick="checkk()">
            //        <i class="fas fa-user-lock"></i>
            //        </a>
                {

                "targets": 5,
                "render": function (data, type, full, meta) {
                    return ("<input type='text' id = 'text'>")
                }
                },
              
               

            //},
            //       {
            //           ////隱藏
            //    target: 4,
            //    visible: false,
            //    searchable: false
            //},
        ],
        columns: [
            //{
            //    //className: 'dt-control',
            //    //orderable: false,
            //    data: null,
            //    defaultContent: ''
            //},
            {
                data: null,
                width: "20px",
                render: function (data, type, row) {
                    count2 ++;
                    return count2;
                }},
            { data: 'reportDetailId', title: "健檢詳細ID", className: "reportdetailID" },
            { data: 'reportId', title: "健檢報告ID", className: "reportID" },
            { data: 'name', title: "項目", className: "itemname" },
            { data: 'result', title: "結果", className: "result" },
            { data: null },
            { data: null,className: "edit" },           
        ],

       
       
           
        

       
        
    
    

    });
    //外表//
    var count =0
    var table = $('#tableM').DataTable({
        "autoWidth": false,
        dom: 'Bfrtip',
        buttons: [
            'copy', 'excel', 'pdf'
        ],
        "language": {
            "processing": "處理中...",
            "loadingRecords": "載入中...",
            "lengthMenu": "每頁 _MENU_ 位會員",
            "zeroRecords": "沒有符合的會員",
            "info": "顯示第 _START_ 至 _END_ 位會員，共 _TOTAL_ 位",
            "infoEmpty": "顯示第 0 至 0 位會員，共 0 位",
            "infoFiltered": "(從 _MAX_ 項結果中過濾)",
            "infoPostFix": "",
            "search": "搜尋:",
            "paginate": {
                "first": "第一頁",
                "previous": "上一頁",
                "next": "下一頁",
                "last": "最後一頁"
            },
            "aria": {
                "sortAscending": ": 升冪排列",
                "sortDescending": ": 降冪排列"
            }
        },

        "autoWidth": false,
        ajax: {
            url: 'https://localhost:7203/transaction/members',
            dataSrc: ''
        },
        columns: [
           
            {
                data: null,
                width: "20px",
                render: function (data, type, row) {
                    count++;
                    return count;
                }
                
            },
            { data: 'memberId', title: "會員編號", },
            { data: 'memberName', title: "姓名" },
            //{ data: "healthReports", title: "mid" },
            //{ data: 'state_date' },
            //{ data: 'office' },
            //{ data: 'extn' }
        ],
        "columnDefs": [{
            "className": "dt-center align-middle",
            "targets": "_all"
        },
        ]
       
    })
    
    ///外細表 報告 日期
    var select;
    table.on('click',/* 'td.dt-control',*/ function (event) {
        var thistr = event.target.closest("tr")
        var tar = event.target.closest("tr").children[1].innerHTML
        var test = document.querySelector("div")
        var title = document.querySelector("h1")
        var tbody = document.querySelector("#tbody")
        //var A = document.querySelectorAll()
        console.log(tar)
        var url = `https://localhost:7203/transaction/members/${tar}`;
        $.get(url, function (data, status) {
            //console.log(thistr.nextSibling.className)
            var datarr = data
            let tabletr = event.target.closest('tr');
            let tablerow = table.row(tabletr);
            
           
            ////彈窗//////////////////////////
            if (thistr.className=="A")
            {
                ////ttt更新
                var id = (event.target.closest('tr').children[2].innerHTML)
                //    console.log(id)
                title.innerHTML = `健檢報告ID:${id}`
                ttt.ajax.url(`https://localhost:7203/admin/test1/${id}`).load();
                $.get(`https://localhost:7203/admin/test1/${id}`, function (data, status) {

                  var datarr = data
                  if(datarr.length ==0)
                  {
                  alert("null")
                  }
                  else{
                  
                  fku.show();
                  edit = tableD.querySelectorAll("tr") 
                  }
                  console.log(datarr)
                })



            }
           else{

            //收縮
            if (thistr.id == "on") {
                // This row is already open - close it
                for (var i = 0; i < data[0].healthReports.length;i++)
                {
                    if (thistr.nextSibling!=null)
                    {
                        if ( thistr.nextSibling.className == ""||thistr.nextSibling.className != "A" )
                    continue;
                    var rm = document.querySelector(".A")
                    //thistr.nextsibilings.remove()
                    thistr.parentNode.removeChild(rm)
                    }
                    else
                    {
                        break
                    }

                }
                
                thistr.removeAttribute("id")
            } else {
                //Open this row
                //擴展
                console.log(tablerow)
                thistr.setAttribute("id","on")
                //head
                    //var ttabletd1 = document.createElement("td")
                    //var ttabletd2 = document.createElement("td");
                    //var ttabletd3 = document.createElement("td");
                    //var ttabletd4 = document.createElement("td");
                    //var tnewtr = document.createElement("tr");
                    ////tabletd1.innerHTML = ""
                    //ttabletd2.innerHTML = "預約日期"
                    //ttabletd3.innerHTML = "健檢報告ID"
                    ////tabletd4.innerHTML = ""
                    //tnewtr.appendChild(ttabletd1);
                    //tnewtr.appendChild(ttabletd2);
                    //tnewtr.appendChild(ttabletd3);
                    //tnewtr.appendChild(ttabletd4);
                    //tnewtr.setAttribute("Class", "A");
                    //tnewtr.setAttribute("style", "background-color:green");
                   
                    

            for (var i = 0; i <= data[0].healthReports.length;i++)
            {
                    //var tabletd1 = document.createElement("td")
                    var tabletd2 = document.createElement("td")
                    ;
                    var tabletd3 = document.createElement("td");
                    
                    var tabletd4 = document.createElement("td");

                    var newtr = document.createElement("tr");
                    //data[0].healthReports[i].reportId
                    //data[0].healthReports[i].reserve.reserveDate
                    //tabletd1.innerHTML = "1"
                    //tabletd2.innerHTML = "2"
                        tabletd3.innerHTML = "                      " + data[0].healthReports[i].reportId
                    //if (data[0].healthReports[i].reserve=!null)
                    tabletd4.innerHTML = "                      "+data[0].healthReports[i].reserve.reserveDate
                   tabletd2.setAttribute("Class","align-middle")
                   tabletd3.setAttribute("Class","align-middle");
                    newtr.appendChild(tabletd2);
                    newtr.appendChild(tabletd4);
                    newtr.appendChild(tabletd3);
                    //newtr.appendChild(tabletd1);
                    newtr.setAttribute("Class", "A");
                        newtr.setAttribute("style", "background-color:#C7C7E2");
                        newtr.style.color = "#D26900"
                       //newtr.setAttribute("style", "color:#FFA042");
                    thistr.after(newtr)

            }
                    //thistr.after(tnewtr)
                    
            
            }
            }
        })
    });

    
    /////摺疊
    ttt.on('click', 'td.dt-control', function (event) {
      
        let tr = event.target.closest('tr');
        let row = ttt.row(tr);
        console.log(tr)
        
        var td1 = document.createElement("td");
        var td2 = document.createElement("td");
        var td3 = document.createElement("td");
        var td4 = document.createElement("td");

        var trr = document.createElement("tr");

        td1.innerHTML = "1"
        trr.appendChild(td1);
        td2.innerHTML = "2"
        trr.appendChild(td2);
        td3.innerHTML = "3"
        trr.appendChild(td3)
        td4.innerHTML = "4"
        trr.appendChild(td4);

        tr.after(trr).show();

        


       
    });
    
    //var edit = tableD.querySelector(".edit")
    //edit.addEventListener("click",()=>{
    //    alert("0")

    //})
        
   
 


  

    //console.log(event.target.closest('tr').children[0].innerHTML)///該選取欄位之ID
    //tableM.addEventListener("click", () => {
        
        //modalshow
        //fku.show();


        //btn.setAttribute("data-ajax", "ajaxRequest2")
        //ajaxRequest2(params)
        //console.log(btn)
        //var table = $('#example').DataTable();
        //table.ajax.reload();

        //bs
        //var table = document.querySelector('#table');
        //var $button = $('#button')
        
        //$.ajax({
        //    url: 'https://localhost:7203/admin/test1',
        //    data: data,
        //    success: success,
        //    dataType: dataType
        //});
       //// var datasss = $.get('https://localhost:7203/admin/test1/')
       

        //$('#myModal').on('shown.bs.modal', function () {
        //    alert("00")
        //})
    //    var id = (event.target.closest('tr').children[0].innerHTML)
    //    console.log(id)
    //    ttt.ajax.url(`https://localhost:7203/admin/test1/${id}`).load();
      

        

    //})
   
   


   

    function g8(){

        
        //tableD.setAttribute("hidden", false);
        tableM.setAttribute("hidden","");
        tableD.removeAttribute("hidden");
        table2.ajax.url('https://localhost:7203/admin/test1').load();
        //dt
        //$('#table3').DataTable({
        //    ajax: {
        //        url: 'https://localhost:7203/admin/test1',
        //        dataSrc: ''
        //    },
        //    columns: [
        //        { data: 'reportDetailId' },
        //        { data: 'reportId' },
        //        { data: 'itemId' },
        //        { data: 'result' },
        //    ]
        //});
        //$('#table2').DataTable({
        //    ajax: {
        //        url: 'https://localhost:7203/transaction/members',
        //        dataSrc: ''
        //    },
        //    columns: [
        //        { data: 'id' },
        //        { data: 'name' },
        //        //{ data: 'salary' },
        //        //{ data: 'state_date' },
        //        //{ data: 'office' },
        //        //{ data: 'extn' }
        //    ]
        //});

        //$('#table2').DataTable().ajax.reload();

        //var table = $('#table2').DataTable();
        //table.ajax.reload();

    };
    ////dd
    //$('#table2').DataTable({
    //    ajax: {
    //        url: 'https://localhost:7203/transaction/members',
    //        dataSrc: ''
    //    },
    //    columns: [
    //        { data: 'id' },
    //        { data: 'name' },
    //        //{ data: 'salary' },
    //        //{ data: 'state_date' },
    //        //{ data: 'office' },
    //        //{ data: 'extn' }
    //    ]
    //});

     
    
    

    //// your custom ajax request here
    //function ajaxRequest(params) {
    //    var url = 'https://localhost:7203/transaction/members'
    //    $.get(url + '?' + $.param(params.data)).then(function (res) {
    //        params.success(res)
    //    })
    //}
    ////document.addEventListener('DOMContentLoaded',()=>{
    ////    test();
    ////})
    ////async function test (){
    ////    const response = await fetch("https://localhost:7203/transaction/members");
    ////    const data = await response.json();
    ////    //console.log(data);
    ////}
    
    ////Table.on('click', function (e) {
    ////    let data = table.row(e.target.closest('tr')).data();

    ////    alert(data[0] + "'s salary is: " + data[5]);
    ////})

    //function ajaxRequest2(params) {
    //    var url = 'https://localhost:7203/admin/test1'
    //    $.get(url + '?' + $.param(params.data)).then(function (res) {
    //        params.success(res)
    //    })
    //}
    //    document.addEventListener('DOMContentLoaded',()=>{
    //        test();
    //    })
    //    async function test (){
    //    const response = await fetch("https://localhost:7203/admin/test1");
    //        const data = await response.json();
    //        //console.log(data);
    //    }

////////bs-table
    var $table = $('#table')

    $(function () {
        $table.bootstrapTable({
            url: 'https://localhost:7203/transaction/members',
            idField: 'memberId',
            showColumns: true,
            columns: [
                {
                    field: 'ck',
                    checkbox: true
                }, 
                {
                    field: 'memberId',
                    title: 'MID',
                    sortable: true,
                    align: 'center',

                },
                {
                    field: 'memberName',
                    title: 'name'
                },
                
                {
                    field: 'memberGender',
                    title: 'Gender'
                }
            ],
            //treeShowField: 'memberName',
            //parentIdField: 'healthReports',
            //onPostBody: function () {
            //    var columns = $table.bootstrapTable('getOptions').columns

            //    if (columns && columns[0][1].visible) {
            //        $table.treegrid({
            //            treeColumn: 1,
            //            onChange: function () {
            //                $table.bootstrapTable('resetView')
            //            }
            //        })
                //}
            //}
        })
    })

    function typeFormatter(value, row, index) {
        if (value === 'menu') {
            return '菜单'
        }
        if (value === 'button') {
            return '按钮'
        }
        if (value === 'api') {
            return '接口'
        }
        return '-'
    }

    function statusFormatter(value, row, index) {
        if (value === 1) {
            return '<span class="label label-success">正常</span>'
        }
        return '<span class="label label-default">锁定</span>'
    }

</script>