@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script><script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>

<!-- Button trigger modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>
<button  id="e04">123</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>我是內容</h5>
                <table id="tableD">
                    <thead>
                        <tr>
                            <th>reportDetailId</th>
                            <th>reportId</th>
                            <th>itemId</th>
                            <th>rs</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

<table id="tableM" class="">
    <thead>
        <tr>
            <th>會員ID</th>
            <th>會員姓名</th>
          

        </tr>
    </thead>
</table>

   




<div id="toolbar">
    <button id="button" class="btn btn-secondary">refreshOptions</button>
</div>
<table id="table"
       data-toggle="table"
       data-height="460"
       data-ajax="ajaxRequest"
       data-search="true"
       data-side-pagination="server"
       data-pagination="true"
       data-show-refresh="true">
    <thead>
        <tr>
            @*<th data-field="id">會員ID</th>
            <th data-field="name">會員姓名</th>*@
            <th data-field="reportDetailId">reportDetailId</th>
            <th data-field="reportId">reportId</th>
            <th data-field="itemId">itemId</th>
            <th data-field="result">itemId</th>
            
        </tr>
    </thead>
</table>

<script>
    //test
    //$table.bootstrapTable('refresh')
    var myModal = document.getElementById('e04');
    var fku = new bootstrap.Modal(document.getElementById('staticBackdrop'));
    myModal.addEventListener("click",(e)=>{
    fku.show();
    })
    
    //var errorModal = document.getElementById('e04'); //Modal的id
    //console.log(errorModal)
    //var modal = Modal.getOrCreateInstance(errorModal); //創建或取得modal實例
    //myModal.show();

    var tableM = document.querySelector("#tableM")
    var tableD = document.querySelector("#tableD")
    var btn = document.querySelector("#btn")
    ////不報錯///
    //$.fn.dataTable.ext.errMode = 'throw';
    /////////////
    var ttt = $('#tableD').DataTable({
        "ajax": {
            "url": "https://localhost:7203/admin/test1/",
            //默认为data,这里定义为空，则只需要传不带属性的数据
            "dataSrc": ""
        },
        columns: [
            { data: 'reportDetailId' },
            { data: 'reportId' },
            { data: 'itemId' },
            { data: 'result' },
        ]
    });
    function aaa(){
    console.log("確定");
        //.querySelector("tbody").querySelectorAll("tr");
    let tr = document.querySelector("#tableM").querySelector("tbody").querySelectorAll("tr");
    console.log(tr);
    //tr.forEach(item=>{
    //    item.querySelector("td").addEventListener("click",(event)=>{
    //        console.log(event.target);
    //    })
    
    }
   

    //console.log(event.target.closest('tr').children[0].innerHTML)///該選取欄位之ID
    tableM.addEventListener("click", () => {
        
        
        //btn.setAttribute("data-ajax", "ajaxRequest2")
        //ajaxRequest2(params)
        //console.log(btn)
        //var table = $('#example').DataTable();
        //table.ajax.reload();

        //bs
        //var table = document.querySelector('#table');
        //var $button = $('#button')
        
        //$.ajax({
        //    url: 'https://localhost:7203/admin/test1',
        //    data: data,
        //    success: success,
        //    dataType: dataType
        //});
        var datasss = $.get('https://localhost:7203/admin/test1/')
       

        //$('#myModal').on('shown.bs.modal', function () {
        //    alert("00")
        //})
        var id = (event.target.closest('tr').children[0].innerHTML)
        console.log(id)
        ttt.ajax.url(`https://localhost:7203/admin/test1/${id}`).load();
      

        //$('#tableD').DataTable({
        //    "ajax": "data.json",
        //    columns: [
        //        { data: 'reportDetailId' },
        //        { data: 'reportId' },
        //        { data: 'itemId' },
        //        { data: 'result' },
        //    ]
        //})
        //   }
        $('#myModal').modal('show')
        aaa()
        

    })
   
    //$('#tableD').DataTable({
    //    ajax: {
    //        url: 'https://localhost:7203/admin/test1',
    //        dataSrc: ''
    //    },
    //    columns: [
    //        { data: 'reportDetailId' },
    //        { data: 'reportId' },
    //        { data: 'itemId' },
    //        { data: 'result' },
    //    ]
    //})
    //   }

   //function abc(){
   //     alert("hello")
   // $('#tableD').DataTable({
   //     ajax: {
   //         url: 'https://localhost:7203/admin/test1',
   //         dataSrc: ''
   //     },
   //     columns: [
   //         { data: 'reportDetailId' },
   //         { data: 'reportId' },
   //         { data: 'itemId' },
   //         { data: 'result' },
   //     ]
   // })
   //}


   

    function g8(){

        
        //tableD.setAttribute("hidden", false);
        tableM.setAttribute("hidden","");
        tableD.removeAttribute("hidden");
        table2.ajax.url('https://localhost:7203/admin/test1').load();
        //dt
        //$('#table3').DataTable({
        //    ajax: {
        //        url: 'https://localhost:7203/admin/test1',
        //        dataSrc: ''
        //    },
        //    columns: [
        //        { data: 'reportDetailId' },
        //        { data: 'reportId' },
        //        { data: 'itemId' },
        //        { data: 'result' },
        //    ]
        //});
        //$('#table2').DataTable({
        //    ajax: {
        //        url: 'https://localhost:7203/transaction/members',
        //        dataSrc: ''
        //    },
        //    columns: [
        //        { data: 'id' },
        //        { data: 'name' },
        //        //{ data: 'salary' },
        //        //{ data: 'state_date' },
        //        //{ data: 'office' },
        //        //{ data: 'extn' }
        //    ]
        //});

        //$('#table2').DataTable().ajax.reload();

        //var table = $('#table2').DataTable();
        //table.ajax.reload();

    };
    ////dd
    //$('#table2').DataTable({
    //    ajax: {
    //        url: 'https://localhost:7203/transaction/members',
    //        dataSrc: ''
    //    },
    //    columns: [
    //        { data: 'id' },
    //        { data: 'name' },
    //        //{ data: 'salary' },
    //        //{ data: 'state_date' },
    //        //{ data: 'office' },
    //        //{ data: 'extn' }
    //    ]
    //});

      var table = $('#tableM').DataTable({
                ajax: {
                    url: 'https://localhost:7203/transaction/members',
                    dataSrc: ''
                },
                columns: [
                    { data: 'id' },
                    { data: 'name' },
                    //{ data: 'salary' },
                    //{ data: 'state_date' },
                    //{ data: 'office' },
                    //{ data: 'extn' }
                ]
       })
    
       ////////XXXXXX
    //$('#tableD').DataTable({
    //    ajax: {
    //        url: 'https://localhost:7203/admin/test1',
    //        dataSrc: ''
    //    },
    //    columns: [
    //        { data: 'reportDetailId' },
    //        { data: 'reportId' },
    //        { data: 'itemId' },
    //        { data: 'result' },
    //    ]
    //})

    //var table2 = $('#tableD').DataTable({
    //    ajax: {
    //        url: '',
    //        dataSrc: ''
    //    },
    //    columns: [
    //        { data: 'reportDetailId' },
    //              { data: 'reportId' },
    //              { data: 'itemId' },
    //              { data: 'result' },
    //    ]
    //})

    //// your custom ajax request here
    //function ajaxRequest(params) {
    //    var url = 'https://localhost:7203/transaction/members'
    //    $.get(url + '?' + $.param(params.data)).then(function (res) {
    //        params.success(res)
    //    })
    //}
    ////document.addEventListener('DOMContentLoaded',()=>{
    ////    test();
    ////})
    ////async function test (){
    ////    const response = await fetch("https://localhost:7203/transaction/members");
    ////    const data = await response.json();
    ////    //console.log(data);
    ////}
    
    ////Table.on('click', function (e) {
    ////    let data = table.row(e.target.closest('tr')).data();

    ////    alert(data[0] + "'s salary is: " + data[5]);
    ////})

    //function ajaxRequest2(params) {
    //    var url = 'https://localhost:7203/admin/test1'
    //    $.get(url + '?' + $.param(params.data)).then(function (res) {
    //        params.success(res)
    //    })
    //}
    //    document.addEventListener('DOMContentLoaded',()=>{
    //        test();
    //    })
    //    async function test (){
    //    const response = await fetch("https://localhost:7203/admin/test1");
    //        const data = await response.json();
    //        //console.log(data);
    //    }

        //Table.on('click', function (e) {
        //    let data = table.row(e.target.closest('tr')).data();

        //    alert(data[0] + "'s salary is: " + data[5]);
        //})

    //var $table = $('#table')

    //$(function () {

    //    $table.bootstrapTable()
    //})
    //$table.bootstrapTable('refreshOptions', { url: 'https://localhost:7203/admin/test1' })
   
</script>